<div>
    <label class="col-form-label">
        <strong>Description:</strong>
        <a class="col-form-label" href="{{ index.URL }}" target="_blank" title="Documentation"> <i class="fa fa-book"></i></a>
        <div class="col-form-label-sm">{{ index.description }}</div>
    </label>
</div>
{% if index.param is not null and index.param != '' %}
    {% for p in index.param|split('!') %}
        <div class="form-inline">
            <label class="ml-1 col-form-label-sm" for="{{ p|split('|')[0] }}">{{ p|split('|')[0] }}</label>
        </div>
        <div class="form-group form-inline">
            <input id="{{ p|split('|')[0] }}" name="{{ p|split('|')[0] }}" class="form-control form-control-sm param" type="text">
            <label class="ml-2 col-form-label-sm">default: {{ p|split('|')[1] }}</label>
        </div>
    {% endfor %}
{% endif %}