{% extends 'administration/admin.html.twig' %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb bg-white mt-4">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ baseUrl }}/project/show">Projects</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
            </ul>
            {% if collections|length > 0 %}
                {% if leaflet.arr %}
                    <button id="btn_map" class="btn btn-outline-primary btn-sm view mb-3">Hide Map</button>
                    <input id="sites" value="{{ leaflet.sites }}" type="hidden">
                {% endif %}
            {% endif %}
        </nav>
        {% if collections|length > 0 %}
            <div id="map" {% if leaflet.arr %} style="height: 750px;margin-bottom: 30px;" {% endif %}></div>
        {% endif %}
        <table id="collectionTable" style="display:none">
            <thead class="table-borderless" style="display:none">
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="js-collection-list">
            {% for collection in collections %}
                {% if isUserLogged or collection.public %}
                    <tr style="vertical-align:top;">
                        <td style="width: 45%;border-top: 1px solid #dddddd;">
                            <h4><a href="{{ baseUrl }}/collection/show/{{ collection.id }}">{{ collection.name }}</a></h4>
                            <h6>Author: <small>{{ collection.author }}</small></h6>
                            <h6>DOI: <small>{{ collection.doi }}</small></h6>
                            <h6>Creation Date (UTC): <small>{{ collection.creationDate }}</small></h6>

                        </td>
                        <td style="width: 55%;border-top: 1px solid #dddddd;">
                            {% if collection.sphere is not empty %}
                                <h6>Sphere: <small>{{ collection.sphere }}</small></h6>
                            {% endif %}
                            {% if collection.note is not empty %}
                                <h6>Description: <small>{{ collection.note }}</small></h6>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#collectionTable').DataTable({
                    "pageLength": 8,
                    "lengthChange": false,
                    "stateSave": true,
                    "StateDuration": -1,
                    "order": [[0, 'asc']],
                    "info": false,
                });
                $('#collectionTable').show()
            });
        </script>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/MarkerCluster.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/MarkerCluster.Default.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ baseUrl }}/assets/js/leaflet-src.js"></script>
    <script src="{{ baseUrl }}/assets/js/leaflet.markercluster-src.js"></script>
    <script src="{{ baseUrl }}/assets/js/leaflet.featuregroup.subgroup-src.js"></script>
    <script>
        {% if leaflet.arr %}
        var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 1,
            maxZoom: 18,
        })
        var map = L.map('map', {center: [{{ leaflet.latitude_center }}, {{ leaflet.longitude_center }}], zoom:{{ leaflet.count==1?10:5 }}, layers: [tiles]})
        var mcg = L.markerClusterGroup()
        var groupAll = L.featureGroup.subGroup(mcg)
        {% for collection in collections %}
        var group{{ collection.id }} = L.featureGroup.subGroup(mcg)
        {% endfor %}
        var control = L.control.layers({
            "Show All": groupAll,
            {% for collection in collections %}
            "{{ collection.name }}": group{{ collection.id }},
            {% endfor %}
        }, null, {collapse: false})
        var marker
        mcg.addTo(map)
        {% for a in leaflet.arr %}
        {% if a[4] is not null %}
        {% for value in a[4] %}
        marker = L.marker([{{ a[2] }}, {{ a[3] }}], {id: '{{ a[0] }}', alt: "1"});
        marker.bindPopup('<input type="hidden" value="{{ a[0] }}site_id"><b>{{ a[1] }}</b>'.replaceAll('!br!', '<br>'), {
            closeOnClick: false,
            maxHeight: 140,
            maxWidth: 99999,
        });
        marker.addTo(group{{ value['collection_id'] }})
        {% endfor %}
        marker.addTo(groupAll)
        {% endif %}
        {% endfor %}
        groupAll.addTo(map)
        control.addTo(map)
        {% endif %}
        map.fitBounds(groupAll.getBounds());

        $("#btn_map").click(function () {
            $("#map").toggle()
            if ($("#btn_map").text() == 'Hide Map') {
                $("#btn_map").text('Show Map')
            } else {
                $("#btn_map").text('Hide Map')
            }
        });
    </script>
{% endblock %}
