<table id="collectionTable" style="display:none">
    <thead class="table-borderless" style="display:none">
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="js-collection-list">
    {% for collection in collections %}
        {% if isUserLogged or collection.public %}
            <tr style="vertical-align:top;">
                <td style="width: 45%;border-top: 1px solid #dddddd;"><h4><a href="{{ baseUrl }}/collection/show/{{ collection.id }}">{{ collection.name }}</a></h4>
                    <h6>Author: <small>{{ collection.author }}</small><br>DOI: <small>{{ collection.doi }}</small><br>Creation Date (UTC): <small>{{ collection.creationDate }}</small></h6></td>
                <td style="width: 55%;border-top: 1px solid #dddddd;"><h6>Description: <small>{{ collection.note }}</small></h6></td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#collectionTable').DataTable({
            "pageLength": 8,
            "lengthChange": false,
            "stateSave": true,
            "StateDuration": -1,
            "order": [[0, 'asc']],
        });
        $('#collectionTable').show()
    });
</script>
