<div class="row">
    <div class="col-md-7">
        <h2>{{ collection.name }}
            <small>showing {{ list|length }} ouf of {{ old|length }} recordings {% if none_count > 0 %}({{ none_count }} recordings not geo-referenced){% endif %}</small>
        </h2>
    </div>
    <div class="col-md-5 text-right">
        <a onclick="col_js({{ collection.id }},'gallery','{{ leaflet.sites }}')" type="button" class="btn btn-outline-primary btn-sm view {{ display == 'gallery' ? 'active' }}" aria-pressed="true">
            <i class="fas fa-th" aria-hidden="true"></i>
            Gallery View
        </a>
        <a onclick="col_js({{ collection.id }},'list','{{ leaflet.sites }}')" type="button" class="btn btn-outline-primary btn-sm view {{ display == 'list' ? 'active' }}" aria-pressed="true">
            <i class="fas fa-th-list" aria-hidden="true"></i>
            List View
        </a>
        <input id="display_view" value="{{ display }}" type="hidden">
        <input id="sites" value="{{ leaflet.sites }}" type="hidden">
    </div>
</div>

<div class="row mt-4">
    <div class="col-auto mr-auto">
        {% if collection.note is not empty %}
            <p>
                <strong>Description:</strong>
                {{ collection.note }}
            </p>
        {% endif %}
    </div>
</div>
{% if list is empty %}
    <h5>No Result</h5>
{% endif %}

{% include display == 'list' ? 'collection/views/list.html.twig' : 'collection/views/gallery.html.twig' %}
