{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb bg-white mt-4">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ baseUrl }}/collection/index">Collections</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ collection.name }}</li>
            </ul>
            {% if leaflet.arr %}
                <button id="btn_map" class="btn btn-outline-primary btn-sm view mb-3">Hide Map</button>
            {% endif %}
        </nav>
        <div id="map" {% if leaflet.arr %} style="height: 750px;margin-bottom: 30px;" {% endif %}></div>
        <div class="row">
            <div class="col-md-7">
                <h2>{{ collection.name }}
                    <small>{{ list|length }} sounds</small>
                </h2>
            </div>
            <div class="col-md-5 text-right">
                <a onclick="col_js({{ collection.id }},'gallery','{{ leaflet.sites }}')" type="button" class="btn btn-outline-primary btn-sm view {{ display == 'gallery' ? 'active' }}" aria-pressed="true">
                    <i class="fas fa-th" aria-hidden="true"></i>
                    Gallery View
                </a>
                <a onclick="col_js({{ collection.id }},'list','{{ leaflet.sites }}')" type="button" class="btn btn-outline-primary btn-sm view {{ display == 'list' ? 'active' }}" aria-pressed="true">
                    <i class="fas fa-th-list" aria-hidden="true"></i>
                    List View
                </a>
                <input id="display_view" value="{{ display }}" type="hidden">
                <input id="sites" value="{{ leaflet.sites }}" type="hidden">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto mr-auto">
                {% if collection.note is not empty %}
                    <p>
                        <strong>Description:</strong>
                        {{ collection.note }}
                    </p>
                {% endif %}
            </div>
        </div>
        {% if list is empty %}
            <h5>No Result</h5>
        {% endif %}
        {% include display == 'list' ? 'collection/views/list.html.twig' : 'collection/views/gallery.html.twig' %}
    </div>
{% endblock %}


{% block header %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ baseUrl }}/templates/collection/css/smallPlayer.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script>
        {% include 'collection/js/collection.js' %}
        {% include 'collection/js/smallPlayer.js' %}
    </script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script>
        {% if leaflet.arr %}
        var markerArray = []
        var map = L.map('map').setView([{{ leaflet.latitude_center }}, {{ leaflet.longitude_center }}],  {{ leaflet.count==1?10:5 }});
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 1,
            maxZoom: 18,
        }).addTo(map);
        {% for a in leaflet.arr %}
        var marker = L.marker([{{ a[2] }}, {{ a[3] }}], {id: '{{ a[0] }}'});
        marker.bindPopup('<input type="hidden" value="{{ a[0] }}site_id"><b>{{ a[1] }}</b><br>{{ a[4] }}'.replaceAll('!br!', '<br>'), {
            closeOnClick: false,
            maxHeight: 140,
            maxWidth: 99999,
        });
        markerArray.push(marker)
        {% endfor %}
        var group = L.featureGroup(markerArray);
        group.addTo(map)
        map.fitBounds(group.getBounds());
        map.on('popupopen', function (e) {
            site = e.popup._content.split('value="')[1].split('site_id">')[0]
            col_js({{ collection.id }}, $("#display_view").val(), site)
        })
        map.on('moveend zoomend', function () {
            if ($(".leaflet-popup-close-button").length > 0) {
                $(".leaflet-popup-close-button")[0].click()
            }
            site = null
            North = map.getBounds().getNorth()
            South = map.getBounds().getSouth()
            East = map.getBounds().getEast()
            West = map.getBounds().getWest()
            {% for a in leaflet.arr %}
            if (North >={{ a[2] }} && South <= {{ a[2] }} && East >= {{ a[3] }} && West <= {{ a[3] }}) {
                if (site) {
                    site = site + ',' +{{ a[0] }}
                } else {
                    site ={{ a[0] }}
                }
            }
            {% endfor %}
            if (site != $("#sites")) {
                col_js({{ collection.id }}, $("#display_view").val(), site)
            }
        })
        $(".leaflet-popup-close-button").click(function () {
            site = null
            North = map.getBounds().getNorth()
            South = map.getBounds().getSouth()
            East = map.getBounds().getEast()
            West = map.getBounds().getWest()
            {% for a in leaflet.arr %}
            if (North >={{ a[2] }} && South <= {{ a[2] }} && East >= {{ a[3] }} && West <= {{ a[3] }}) {
                if (site) {
                    site = site + ',' +{{ a[0] }}
                } else {
                    site ={{ a[0] }}
                }
            }
            {% endfor %}
            if (site != $("#sites")) {
                col_js({{ collection.id }}, $("#display_view").val(), site)
            }
        })
        {% endif %}

        function col_js(id, view, site) {
            url = "{{ baseUrl }}/collection/showjs/" + id + '/' + view
            if (site != '') {
                url = url + '/' + site
            }
            $.ajax({
                url: url,
                success: function (data) {
                    if (data) {
                        $("#map").nextAll().remove()
                        $("#display_view").val(view)
                        $("#map").after(data)
                    }
                },
            })
        }
    </script>
{% endblock %}
