<div class="row">
    <div class="col-12 text-right mb-3">
        <a onclick="col_js({{ collection.id }},'gallery','{{ leaflet.sites }}')" type="button" class="btn btn-outline-primary btn-sm view {{ display == 'gallery' ? 'active' }}" aria-pressed="true">
            <i class="fas fa-th" aria-hidden="true"></i>
            Gallery View
        </a>
        <a onclick="col_js({{ collection.id }},'list','{{ leaflet.sites }}')" type="button" class="btn btn-outline-primary btn-sm view {{ display == 'list' ? 'active' }}" aria-pressed="true">
            <i class="fas fa-th-list" aria-hidden="true"></i>
            List View
        </a>
        <a onclick="col_js({{ collection.id }},'timeline','{{ leaflet.sites }}')" type="button" class="btn btn-outline-primary btn-sm view {{ display == 'timeline' ? 'active' }}" aria-pressed="true">
            <i class="fas fa-bars-staggered" aria-hidden="true"></i>
            Timeline View
        </a>
        <input id="display_view" value="{{ display }}" type="hidden">
        <input id="sites" value="{{ leaflet.sites }}" type="hidden">
    </div>
</div>
<script>
    $('#count_recording').text('{{ list|length }}')
    $('#count_site').text('{{ leaflet.arr|length }}')
    $('#count_tag').text('{{ tags }}')
</script>
{% include display == 'list' ? 'collection/views/list.html.twig' : display == 'gallery' ? 'collection/views/gallery.html.twig' : 'collection/views/timeline.html.twig' %}
