{% extends 'administration/admin.html.twig' %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb bg-white mt-4">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ baseUrl }}/project/show">Projects</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
            </ul>
            <div>
                {% autoescape false %}{{ project.description }}{% endautoescape %}
            </div>
            {% if collections|length > 0 %}
                {% if leaflet.arr %}
                    <div class="form-inline mt-3">
                        <h3>Map of project sites</h3>
                        <button id="btn_map" class="btn btn-outline-primary btn-sm view ml-2 mb-1">Hide Map</button>
                        <input id="sites" value="{{ leaflet.sites }}" type="hidden">
                    </div>
                {% endif %}
            {% endif %}
        </nav>
        {% if collections|length > 0 %}
            <div id="map" {% if leaflet.arr %} style="height: 750px;margin-bottom: 30px;" {% endif %}></div>
        {% endif %}
        <table id="collectionTable" style="display:none">
            <thead class="table-borderless" style="display:none">
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="js-collection-list">
            {% for collection in collections %}
                {% if isUserLogged or collection.publicAccess %}
                    <tr style="vertical-align:top;">
                        <td style="width: 45%;border-top: 1px solid #dddddd;">
                            <h4><a href="{{ baseUrl }}/collection/show/{{ collection.id }}">{{ collection.name }}</a></h4>
                            <div class="form-inline">
                                <h6>Author: <small>{{ collection.author }}</small></h6>
                                {% if collection.orcid %}
                                    <a href="https://orcid.org/{{ collection.orcid }}" target="_blank">
                                        <i class="fa-brands fa-orcid ml-1 mb-2"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <h6>DOI: <small>{{ collection.doi }}</small></h6>
                            <h6>Creation Date (UTC): <small>{{ collection.creationDate }}</small></h6>
                        </td>
                        <td style="width: 55%;border-top: 1px solid #dddddd;">
                            {% if collection.sphere is not empty %}
                                <h6>Sphere: <small>{{ collection.sphere }}</small></h6>
                            {% endif %}
                            {% if collection.note is not empty %}
                                <h6>Description: <small>{{ collection.note }}</small></h6>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#collectionTable').DataTable({
                    "pageLength": 8,
                    "lengthChange": false,
                    "stateSave": true,
                    "StateDuration": -1,
                    "order": [[0, 'asc']],
                    "info": false,
                });
                $('#collectionTable').show()
            });
        </script>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/MarkerCluster.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/MarkerCluster.Default.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ baseUrl }}/assets/js/leaflet-src.js"></script>
    <script src="{{ baseUrl }}/assets/js/leaflet.markercluster-src.js"></script>
    <script src="{{ baseUrl }}/assets/js/leaflet.featuregroup.subgroup-src.js"></script>
    <script>
        {% if leaflet.arr %}
        var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 1,
            maxZoom: 18,
        })
        var map = L.map('map', {center: [{{ leaflet.latitude_center }}, {{ leaflet.longitude_center }}], zoom:{{ leaflet.count==1?10:5 }}, layers: [tiles]})
        var mcg = L.markerClusterGroup()
        var groupAll = L.featureGroup.subGroup(mcg)
        {% for collection in collections %}
        var group{{ collection.id }} = L.featureGroup.subGroup(mcg)
        {% endfor %}
        var control = L.control.layers({
            "Show All": groupAll,
            {% for collection in collections %}
            "{{ collection.name }}": group{{ collection.id }},
            {% endfor %}
        }, null, {collapse: false})
        var marker
        mcg.addTo(map)
        {% for a in leaflet.arr %}
        {% if a[4] is not null %}
        {% set v= a[4]|split(',') %}
        {% for value in v %}
        if (typeof group{{ value }} != 'undefined') {
            marker = L.marker([{{ a[2] }}, {{ a[3] }}], {id: '{{ a[0] }}', alt: "1"});
            marker.bindPopup('<input type="hidden" value="{{ a[0] }}site_id"><b>{{ a[1] }}</b>'.replaceAll('!br!', '<br>'), {
                closeOnClick: false,
                maxHeight: 140,
                maxWidth: 99999,
            });
            marker.addTo(group{{ value }})
        }
        {% endfor %}
        marker.addTo(groupAll)
        {% endif %}
        {% endfor %}
        groupAll.addTo(map)
        control.addTo(map)
        {% endif %}
        map.fitBounds(groupAll.getBounds());

        $("#btn_map").click(function () {
            $("#map").toggle()
            $.cookie('map', $("#btn_map").text(), {expires: 7});
            if ($("#btn_map").text() == 'Hide Map') {
                $("#btn_map").text('Show Map')
            } else {
                $("#btn_map").text('Hide Map')

            }
        });
        $(document).ready(function () {
            if ($.cookie('map') == 'Hide Map') {
                $("#btn_map").text('Show Map')
                $("#map").hide()
            } else {
                $("#btn_map").text('Hide Map')
                $("#map").show()
            }
        })

        $(".leaflet-control-layers-selector").change(function () {
            var str = $(".leaflet-control-layers-selector:checked").next().text().replace(' ', '');
            $.each(control._layers, function (i, l) {
                if (decodeHtml(l.name) == str) {
                    map.fitBounds(l.layer.getBounds());
                }
            });
        });
        function decodeHtml(str) {
            var map =
                {
                    '&amp;': '&',
                    '&lt;': '<',
                    '&gt;': '>',
                    '&quot;': '"',
                    '&#039;': "'"
                };
            return str.replace(/&amp;|&lt;|&gt;|&quot;|&#039;/g, function (m) { return map[m];

            });}
    </script>
{% endblock %}
