{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>
            <span>History</span>
        </h1>
        <p>
            <span>The original
            	<b><a href="https://github.com/nperezg/biosounds">BioSounds</a></b>
            	website was derived from the open-source project
                <b><a href="https://www.google.com/url?q=http://ljvillanueva.github.io/pumilio/&amp;sa=D&amp;source=editors&amp;ust=1639119754180000&amp;usg=AOvVaw0uQKBr_F02MQbdutgIRw9n">Pumilio</a></b>
            and developed into an independent project in 2013 in the frame of the PhD of Kevin Darras (Agroecology, University of G&ouml;ttingen), together with Mauladi (Information Systems, University of Jambi). Noemi Perez (freelance web engineer) joined us later and considerably re-designed, re-factored and extended the tool&#39;s capabilities.
            </span>
        </p>
        <p>
            <span>The development was funded by the DFG CRC990 project&#39;s phase 1 and phase 2 grants and supported by the Agroecology research group.</span>
        </p>
        <p>
            <span>
                <a href="https://www.dfg.de/en/"><img src="{{ projectImagesUrl }}/dfg_logo.jpg" title="DFG" alt="DFG"></a>
            </span>&nbsp;&nbsp;
            <span>
                <a href="https://www.uni-goettingen.de/en/74726.html"><img style="width: 125px; height: 130px;" src="{{ projectImagesUrl }}/fly_bee.png" title="Agroecology" alt="Agroecology logo"></a>
            </span>
        </p>
        <p>
            <span>Later, the ecoSound-web was forked from BioSounds and developed by Kevin Darras in the frame of his PostDoc (SASE Lab, Westlake University). Its development was carried out mainly by Liu Dilong (freelance web engineer), funded by Westlake University PostDoc funds, and supported by the SASE Lab.</span>
        </p>
        <p>
            <span>
                <a href="https://en.westlake.edu.cn"><img src="{{ projectImagesUrl }}/westlake_univ.png" title="WestlakeUniversity" alt="westlake university logo"/></a>
            </span>&nbsp;&nbsp;
            <span>
                <a href="https://www.tomcwanger.com"><img style="width: 181px; height: 181px;" src="{{ projectImagesUrl }}/sealab_logo.png" title="SEA" alt="SEA logo"/></a>
            </span>
        </p>
        <p>
            <span>Currently ecoSound-web is still developed by Liu Dilong in the frame and with the funding of
            <b><a href="https://www.nfdi4earth.de/">NFDI4Earth</a></b>
            .</span>
        </p>
        <p>
            <span>
                <a href="https://www.nfdi4earth.de/"><img style="width: 342px;" src="{{ projectImagesUrl }}/NFDI4Earth_logo.png" title="NFDI4Earth" alt="NFDI4Earth logo"/></a>
            </span>
        </p>
        <h1>
            <span>Credits</span>
        </h1>
        <p>
            <p>The website is hosted at
            <b><a href="https://www.gwdg.de/">GWDG</a></b>
            servers. If you are using ecoSound-web for your studies, please cite our corresponding publication as:
		<p>Darras KFA, Pérez N, - M et al. ecoSound-web: an open-source, online platform for ecoacoustics [version 2; peer review: 2 approved]. F1000Research 2023, 9:1224 (<a href="https://doi.org/10.12688/f1000research.26369.2">)</a>
		</p>
            </p>
        </p>
    </div>
{% endblock %}
