<div class="modal" id="modal-cookie">
    <div class="modal-dialog" style="max-width: 1000px">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h1 class="modal-title">Privacy Preference Center</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body p-0 d-flex" style="height: 400px">
                <div class="col-3 p-0">
                    <ul class="nav nav-tabs nav-left flex-column" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                            <a class="nav-link active" id="vert-tab-1" data-toggle="tab" href="#v-tab-1" role="tab" aria-controls="v-tab-1" aria-selected="true">Your Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="vert-tab-2" data-toggle="tab" href="#v-tab-2" role="tab" aria-controls="v-tab-2" aria-selected="false">Strictly Necessary Cookies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="vert-tab-3" data-toggle="tab" href="#v-tab-3" role="tab" aria-controls="v-tab-3" aria-selected="false">Functional Cookies</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content d-flex mt-3" style="overflow-y: auto;">
                    <div class="tab-pane fade ml-3 mr-3 show active" id="v-tab-1" role="tabpanel" aria-labelledby="vert-tab-1">
                        <div class="d-flex align-items-center">
                            <h3>Your Privacy</h3>
                        </div>
                        <div>
                            When you visit any website, it may store or retrieve information on your browser, mostly in the form of cookies. This information might be about you, your preferences or your device and is mostly used to make the site work as you expect it to. The information does not
                            usually directly identify you, but it can give you a more personalized web experience. Because we respect your right to privacy, you can choose not to allow some types of cookies. Click on the different category headings to find out more and change our default settings.
                            However, blocking some types of cookies may impact your experience of the site and the services we are able to offer.
                        </div>
                    </div>
                    <div class="tab-pane fade ml-3 mr-3" id="v-tab-2" role="tabpanel" aria-labelledby="vert-tab-2">
                        <div class="d-flex align-items-center">
                            <h3 class="mr-auto">Strictly Necessary Cookies</h3>
                            <div>Always Active</div>
                        </div>
                        <div>
                            These cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in
                            forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.
                            <p>
                                <a data-toggle="collapse" href="#cookies-details" role="button" aria-expanded="false" aria-controls="cookies-details">
                                    Cookies Details
                                </a>
                            </p>
                            <div class="collapse" id="cookies-details">
                                <div class="card m-3">
                                    <h5 class="card-title m-3">First Party Cookies</h5>
                                    <div class="card m-3">
                                        <div class="card-body bg-lightblue form-inline d-flex align-items-start">
                                            <div class="col-3 mb-3">
                                                <small>Name</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>cookieConsent</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Host</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>{{ Host }}</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Duration</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>180 Days</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Type</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>First Party</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Category</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Strictly Necessary Cookies</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Description</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>This cookie stores information about the categories of cookies the site uses and whether visitors have given or withdrawn consent for the use of each category. This enables site owners to prevent cookies in each category from being set in the
                                                    users
                                                    browser, when consent is not given. The cookie has a normal lifespan of six month, so that returning visitors to the site will have their preferences remembered. It contains no information that can identify the site visitor.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card m-3">
                                        <div class="card-body bg-lightblue form-inline d-flex align-items-start">
                                            <div class="col-3 mb-3">
                                                <small>Name</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>biosounds_session</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Host</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>{{ Host }}</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Duration</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Session</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Type</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>First Party</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Category</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Strictly Necessary Cookies</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Description</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Protects against Cross-Site Request Forgery security attacks.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade ml-3 mr-3" id="v-tab-3" role="tabpanel" aria-labelledby="vert-tab-3">
                        <div class="d-flex align-items-center">
                            <h3 class="mr-auto">Functional Cookies</h3>
                            Active<input id="cb_functional_cookies" type="checkbox">
                        </div>
                        <div>
                            These cookies enable the website to provide enhanced functionality and personalization. They may be set by us or by third party providers whose services we have added to our pages. If you do not allow these cookies then some or all of these services may not function
                            properly.
                            <p>
                                <a data-toggle="collapse" href="#functional-cookies" role="button" aria-expanded="false" aria-controls="functional-cookies">
                                    Cookies Details
                                </a>
                            </p>
                            <div class="collapse" id="functional-cookies">
                                <div class="card m-3">
                                    <h5 class="card-title m-3">First Party Cookies</h5>
                                    <div class="card m-3">
                                        <div class="card-body bg-lightblue form-inline d-flex align-items-start">
                                            <div class="col-3 mb-3">
                                                <small>Name</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>map</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Host</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>{{ Host }}</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Duration</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>180 Days</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Type</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>First Party</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Category</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Functional Cookies</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Description</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>This cookie is used to show/hide the map by default</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card m-3">
                                        <div class="card-body bg-lightblue form-inline d-flex align-items-start">
                                            <div class="col-3 mb-3">
                                                <small>Name</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>save_button</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Host</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>{{ Host }}</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Duration</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>180 Days</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Type</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>First Party</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Category</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Functional Cookies</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Description</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>This cookie is used to select the save type by default for recording tags.</small></div>
                                        </div>
                                    </div>
                                    <div class="card m-3">
                                        <div class="card-body bg-lightblue form-inline d-flex align-items-start">
                                            <div class="col-3 mb-3">
                                                <small>Name</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>soundscape_component</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Host</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>{{ Host }}</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Duration</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>180 Days</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Type</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>First Party</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Category</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Functional Cookiesc</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Description</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>This cookie is used to select the soundscape component by default for the recording tags.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card m-3">
                                        <div class="card-body bg-lightblue form-inline d-flex align-items-start">
                                            <div class="col-3 mb-3">
                                                <small>Name</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>sound_id</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Host</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>{{ Host }}</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Duration</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>180 Days</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Type</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>First Party</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Category</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Strictly Necessary Cookies</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Description</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>This cookie is used to select the sound type by default for recording tags.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card m-3">
                                        <div class="card-body bg-lightblue form-inline d-flex align-items-start">
                                            <div class="col-3 mb-3">
                                                <small>Name</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>zoom_info</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Host</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>{{ Host }}</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Duration</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>180 Days</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Type</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>First Party</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Category</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>Strictly Necessary Cookies</small>
                                            </div>
                                            <div class="col-3 mb-3">
                                                <small>Description</small>
                                            </div>
                                            <div class="col-9 mb-3">
                                                <small>This cookie is used to select the zoom type by default for recording.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary confirmCookies mr-auto">Confirm My Choices</button>
                <button type="button" class="btn btn-outline-primary acceptCookies">Accept All</button>
                <button type="button" class="btn btn-outline-primary declineCookies">Refuse All</button>
            </div>
        </div>
    </div>
</div>