{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <table id="projectTable" style="display:none ;table-layout: fixed;word-wrap:break-word;">
            <thead class="table-borderless" style="display:none">
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody class="js-project-list">
            {% for project in projects %}
                <tr>
                    <td style="border-top: 1px solid #dddddd;">
                        <h2>
                            <a href="{{ baseUrl }}/collection/index/{{ project.id }}">{{ project.name }}</a>
                        </h2>
                        <div class="form-inline">
                            {% if project.pictureId or project.url %}
                                <div class="col-3" style="margin-bottom: auto;">
                                    {% if project.pictureId %}
                                        <img src="{{ baseUrl }}/sounds/projects/{{ project.pictureId }}" style="width:300px;">
                                        <br>
                                    {% endif %}
                                    {% if project.url %}
                                        <a href="{{ project.url }}" style="width: 300px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;float: left;" target="_blank">{{ project.url }}</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="col-{{ not project.pictureId and not project.url?'12':'9' }}" style="margin-bottom: auto;">
                                {% autoescape false %}{{ project.description }}{% endautoescape %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#projectTable').DataTable({
                "pageLength": 8,
                "lengthChange": false,
                "stateSave": true,
                "StateDuration": -1,
                "order": [[0, 'asc']],
            });
            $('#projectTable').show()
        });
    </script>
{% endblock %}
