<div class="modal fade" id="modal-div" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tag {{ tag.id }} for recording {{ recordingName }} (ID {{ tag.recording }})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="tag-panel" class="col-12">
                        <form id="tagForm" data-disabled="{{ disableTagForm }}">
                            <input name="tag_id" type="hidden" value="{{ tag.id }}">
                            <input name="recording_id" type="hidden" value="{{ tag.recording }}">
                            <input class='js-species-id' data-type="edit" name='species_id' type='hidden' value="{{ tag.species }}">
                            <div class="form-row align-items-center">
                                <div class="form-group col-auto">
                                    <label class="col-form-label-sm" for="phony">Phony</label>
                                    <select id="phony" name="phony" class="custom-select custom-select-sm">
                                        {% for phony in phonys %}
                                            <option value="{{ phony.phony }}" {{ phony.phony == tag.phony ? "selected" }}>{{ phony.phony }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-auto">
                                    <label class="col-form-label-sm" for="sound_id">Sound Type</label>
                                    <select id="sound_id" name="sound_id" class="custom-select custom-select-sm"></select>
                                </div>
                            </div>
                            <div class="form-row align-items-center biophony" {{ tag.phony!='biophony' and tag.soundId is not null?'hidden' }}>
                                <div class="form-group col-auto">
                                    <label class="col-form-label-sm" for="speciesName">Species</label>
                                    <input id="speciesName"
                                           data-type="edit"
                                           class="form-control form-control-sm mb-1 js-species-autocomplete"
                                           type="text"
                                           size="30"
                                           value="{{ tag.speciesName }}"
                                    >
                                    <a class="col-form-label-sm" href="#" target="_blank" id="googleImages"> Images</a> | <a class="col-form-label-sm" href="#" target="_blank" id="xenoImages">Xeno-canto (for birds only)</a>
                                </div>
                                <div class="form-group col-auto">
                                    <div class="form-check form-control-sm pt-2" id="uncertain_check">
                                        <input class="form-check-input" id="uncertain" name="uncertain" type="checkbox" value="1" {{ tag.uncertain ? "checked" }}>
                                        <label class="form-check-label" for="uncertain">Uncertain?</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label-sm" for="min_time">Time </label>
                                <div class="form-inline">
                                    <input id="min_time" class="form-control form-control-sm mr-2 ml-1" name="min_time" type="text" maxlength="100" value="{{ tag.minTime }}"> -
                                    <input id="max_time" class="form-control form-control-sm ml-2 mr-2" name="max_time" type="text" maxlength="100" value="{{ tag.maxTime }}">
                                    <label class="col-form-label-sm" for="max_time">sec</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label-sm" for="min_freq">Frequency </label>
                                <div class="form-inline">
                                    <input id="min_freq" class="form-control form-control-sm mr-2 ml-1" name="min_freq" type="text" maxlength="100" value="{{ tag.minFrequency }}"> -
                                    <input id="max_freq" class="form-control form-control-sm ml-2 mr-2" name="max_freq" type="text" maxlength="100" value="{{ tag.maxFrequency }}">
                                    <label class="col-form-label-sm" for="max_freq">Hz</label>
                                </div>
                            </div>

                            <div class="form-row align-items-center mt-2 biophony" id="distance_group" {{ tag.phony!='biophony' and tag.soundId is not null?'hidden' }}>
                                <div class="form-group col-auto">
                                    <label class="col-form-label-sm" for="callDistance">Sound Distance </label>
                                    <input id="callDistance" class="form-control form-control-sm" name="sound_distance_m" type="number" value="{{ tag.callDistance }}" readonly>
                                </div>
                                <div class="form-group col-auto">
                                    <div class="form-check form-control-sm pt-4" id="dist_check">
                                        <input class="form-check-input" id='distanceNotEstimable' name="distance_not_estimable" type="checkbox" value="1" {{ tag.distanceNotEstimable ? "checked" }}>
                                        <label class="form-check-label" for="distanceNotEstimable">
                                            Distance not estimable
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-4 biophony" id="individuals_group">
                                    <label class="col-form-label-sm" for="individuals">Individuals </label>
                                    <input id="individuals" class="form-control form-control-sm" name="individuals" min="0" max="1000" type="number" value="{{ tag.numberIndividuals }}" required>
                                    <div class="invalid-feedback">
                                        Please introduce a valid individuals.
                                    </div>
                                </div>
                                <div class="form-group col-4 biophony" {{ tag.phony!='biophony' and tag.soundId is not null?'hidden' }}>
                                    <label class="col-form-label-sm" for="type">Animal Sound Type</label>
                                    <select id="animal_sound_type" name="animal_sound_type" class="custom-select custom-select-sm">
                                        <option value="0"></option>
                                        {% for animalSoundType in animalSoundTypes %}
                                            <option value="{{ animalSoundType.soundTypeId }}" {{ tag.type == animalSoundType.soundTypeId ? "selected" }}>{{ animalSoundType.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-4">
                                    <div class="form-check form-control-sm pt-5" id="reference">
                                        <input class="form-check-input" id="referenceCall" name="reference_call" type="checkbox" value="1" {{ tag.referenceCall ? "checked" }}>
                                        <label class="form-check-label" for="referenceCall">Reference call</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="comments" class="sr-only">Comments</label>
                                <textarea id="comments" name="comments" class="form-control form-control-sm" placeholder="Insert your comments" maxlength="200" rows="3">{{ tag.comments }}</textarea>
                            </div>

                            <div class="form-group">
                                {% if reviewPanel !='' %}
                                    <div class="col-form-label-sm inline">Created by {{ tag.userName }} on {{ tag.creationDate }} (UTC)</div>
                                {% else %}
                                    <label class="col-form-label-sm" for="user_full_name">Creation User: </label>
                                    <span id="user_full_name"><small>{{ tag.userName }} </small></span>
                                {% endif %}
                                <a href="#" id="exportTagUrl" class="btn btn-link inline" title="Export URL to clipboard">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </div>

                        </form>
                    </div>
                    <div id="review-panel">
                        {{ reviewPanel | raw }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" {{ displaySaveButton }} id="saveButton">
                    <i class="fas fa-save" aria-hidden="true"></i> Save
                </button>
                <button type="button" class="btn btn-outline-danger" {{ displayDeleteButton }} id="deleteButton" data-tag-id="{{ tag.id }}">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i> Delete
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var soundTypes ={{ soundTypes|json_encode|raw }};
    $(document).ready(function () {
        {% if tag.soundId %}
        $("#phony").attr('disabled', true)
        $("#phony").change()
        {% else %}
        var phony = $.cookie('phony');
        var sound_id = $.cookie('sound_id');
        $("#phony").val(phony).change()
        $("#sound_id").find("option[value=" + sound_id + "]").prop("selected", true);
        {% endif %}
    });
    $("#modal-div").on('shown.bs.modal', function () {
        if ($("#animal_sound_type")[0].options.length == 1) {
            $("#animal_sound_type").attr('disabled', true)
        }
        $(this).find('#speciesName').focus();
    });
    $("#phony").on('change', function () {
        if ($("#phony").find("option:selected").text() == 'biophony') {
            $(".biophony").show()
            $("#reference").addClass('pt-5')
        } else {
            $(".biophony").hide()
            $("#reference").removeClass('pt-5')
        }
        {% if not tag.soundId %}
        $.cookie('phony', $("#phony").val(), {expires: 7});
        {% endif %}
        $('#sound_id').empty()
        for (var key in soundTypes) {
            if (soundTypes[key]['sound_id'] == '{{ tag.soundId }}') {
                $('#sound_id').append("<option value='" + soundTypes[key]['sound_id'] + "' selected>" + soundTypes[key]['sound_type'] + "</option>");
            } else if (soundTypes[key]['phony'] == $("#phony").find("option:selected").text()) {
                $('#sound_id').append("<option value='" + soundTypes[key]['sound_id'] + "'>" + soundTypes[key]['sound_type'] + "</option>");
            }
        }
    })
    {% if not tag.soundId %}
    $("#sound_id").on('change', function () {
        $.cookie('sound_id', $("#sound_id").val(), {expires: 7});
    })
    {% endif %}
</script>