{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/collCreate.html.twig' %}

    <div class="card mb-3" id="collectionsList">
        <div class="card-header border-light bg-white text-right">
            <div class="form-inline">
                <form id="projectForm" class="form-inline col-8" action="{{ baseUrl }}/admin/collections">
                    <label for="projectId">Project</label>
                    <select id="projectId" name="projectId" class="form-control form-control-sm ml-3">
                        {% for project in projects %}
                            <option value="{{ project.id }}" {{ project.id == projectId ? 'selected' }}>
                                {{ project.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                <div class="col-4 form-inline justify-content-end">
                    <label class="mr-2">Search:</label>
                    <input class="form-control-sm" id="search">
                </div>
            </div>
            <button id="viewing" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#viewing" disabled>
                <i class="fas fa-eye"></i>
                View
            </button>
            <button id="delete" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#delete" disabled>
                <i class="fas fa-trash"></i>
                Delete
            </button>
            <button id="collectionFormButton" class="btn btn-outline-primary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#collectionFormSection" aria-expanded="false" aria-controls="collectionFormSection">
                <i class="fas fa-plus"></i>
                Add
            </button>
            <button id="collectionsExport" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#collectionsExport" aria-expanded="false" aria-controls="collectionsExport">
                <i class="fa fa-file-csv"></i>
                Save all as CSV
            </button>
        </div>
        <table id="collTable" style="display:none; white-space: nowrap;">
            <thead class="table-borderless">
            <tr style="font-size: .875rem;">
                <th>
                    <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                </th>
                <th>#</th>
                <th>Name</th>
                <th>User</th>
                <th>DOI</th>
                <th>Sphere</th>
                <th>Description</th>
                <th>Creation Date (UTC)</th>
                <th>View</th>
                <th>Public Access</th>
                <th>Public Tags</th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-coll-list"></tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <label>Deleting this collection will also delete the <b class="text-danger" id="count"></b> recordings and all the tags inside and cannot be reversed!</label>
                            <label>Type "<b id="modal-collection" class="text-danger"></b>" to delete</label>
                            <input id="confirm_input" type="text">
                            <input id="delete_id" type="hidden">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <button id="js-delete-button" type="button" class="btn btn-outline-danger">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block header %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#collTable').show()
            let table = $('#collTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '{{ baseUrl }}/admin/collectionMgr/getListByPage/{{ projectId }}/{{ collectionId }}',
                    "type": 'POST',
                    "error": function (xhr, error, thrown) {
                        if (xhr.status == 400 || xhr.status == 404 ||xhr.status == 500) {
                            location.reload();
                        }
                    }
                },
                "dom": 'lrtip',
                "stateSave": true,
                "StateDuration": -1,
                "order": [[1, 'asc']],
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [0],
                    },
                    {
                        "className": "dt-center",
                        "targets": [0, 9, 10],
                    }
                ],
                "bAutoWidth": false,
                "scrollX": true,
            });
            if (table.state.loaded()) {
                $('#search').val(table.state.loaded().search.search);
            }
            $('#search').on('input', () => {
                table.search($('#search').val()).draw();
            });
        });


        $(function () {
            'use strict';

            /* Save collections list */
            $('.js-coll-list').on('change', 'input, select, textarea', function () {
                if ($(this)[0].className == 'js-checkbox') {
                    return
                }
                var id = $(this).attr('id')
                $('#collectionValid' + id).text('')
                saveFormList($(this), 'api/admin/collectionMgr/save', function (response) {
                    if (response.isValid) {
                        $('#collectionValid' + id).text(response.message)
                    }
                });
            });

            $('#js-delete-button').click(function () {
                toggleLoading();
                deleteRequest('{{ baseUrl }}/api/admin/collectionMgr/delete/' + $('#delete_id').val(), [], true, false, function () {
                    location.reload();
                });
            });

            $("#collectionFormSection").on('shown.bs.collapse', function () {
                $("#collectionsList").hide();
            }).on('hidden.bs.collapse', function () {
                $("#collectionsList").show();
            });

            $('#collectionForm').submit(function (e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/collectionMgr/save', new FormData($(this)[0]), false, false, function (response) {
                        if (response.isValid) {
                            $('#collectionValid').text(response.message)
                            return
                        }
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });

            $('#collTable tbody').on('click', '.js-delete-modal', function () {
                var id = $(this).data('id')
                var name = $(this).data('name')
                $.ajax({
                    type: 'POST', url: '{{ baseUrl }}/api/admin/collectionMgr/count/' + id
                }).done(function (data) {
                    $('#modal-collection').text(name)
                    $("#confirm_input").val("")
                    $("#js-delete-button").hide()
                    $("#js-close-button").show()
                    $('#count').text(data)
                    $('#delete_id').val(id)
                    $("#modal-div").modal('show');
                })
            })

            $("#confirm_input").on('input', function () {
                if ($("#confirm_input").val() == $('#modal-collection').text()) {
                    $("#js-delete-button").show()
                    $("#js-close-button").hide()
                } else {
                    $("#js-delete-button").hide()
                    $("#js-close-button").show()
                }
            });

            $(document).on('click', '#collectionsExport', function () {
                window.location.href = '{{ baseUrl }}/api/admin/collectionMgr/export/' + $('#projectId').val();
            });

            $("#modal-div").keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#modal-div").modal('hide');
                    event.preventDefault();
                }
            });

            $('#projectId').change(function () {
                $("#projectForm").submit();
            });

            $('button[name="table-btn"][data-target="#viewing"]').click(function (e) {
                $('.js-checkbox:checked').each(function () {
                    window.open('{{ baseUrl }}/collection/show/' + $(this).data('id'), '_blank');
                });
                e.preventDefault();
            })

            $('button[name="table-btn"][data-target="#delete"]').click(function (e) {
                let id = '';
                let name = '';
                $('.js-checkbox:checked').each(function () {
                    id = $(this).data('id');
                    name = $(this).data('name');
                });
                $.ajax({
                    type: 'POST', url: '{{ baseUrl }}/api/admin/collectionMgr/count/' + id
                }).done(function (data) {
                    $('#modal-collection').text(name)
                    $("#confirm_input").val("")
                    $("#js-delete-button").hide()
                    $("#js-close-button").show()
                    $('#count').text(data)
                    $('#delete_id').val(id)
                    $("#modal-div").modal('show');
                    e.preventDefault();
                })
            })
        });
    </script>
{% endblock %}
