{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/collCreate.html.twig' %}
    <div class="card mb-3" id="collectionsList">
        <div class="card-header border-light bg-white text-right">
            <div class="row">
                <div class="col-auto mr-auto mt-2">
                    <form id="projectForm" class="form-inline" action="{{ baseUrl }}/admin/collections">
                        <label for="projectId">Project</label>
                        <select id="projectId" name="projectId" class="form-control form-control-sm ml-3">
                            {% for project in projects %}
                                <option value="{{ project.id }}" {{ project.id == projectId ? 'selected' }}>
                                    {{ project.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <button id="collectionsExport" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#collectionsExport" aria-expanded="false" aria-controls="collectionsExport">
                    <i class="fa fa-download"></i>
                    Collection Export
                </button>
                <button id="collectionFormButton" class="btn btn-outline-primary btn-sm mt-2 ml-2" type="button" data-toggle="collapse" data-target="#collectionFormSection" aria-expanded="false" aria-controls="collectionFormSection">
                    <i class="fas fa-plus"></i>
                    Add Collection
                </button>
            </div>
        </div>
        <table id="collTable" style="display:none; white-space: nowrap;">
            <thead class="table-borderless">
            <tr style="font-size: .875rem;">
                <th></th>
                <th>#</th>
                <th>Name</th>
                <th>User</th>
                <th>DOI</th>
                <th>Sphere</th>
                <th>Description</th>
                <th>Creation Date (UTC)</th>
                <th>View</th>
                <th>Public Access</th>
                <th>Public Tags</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-coll-list">
            {% for collection in collections %}
                <tr>
                    <td>
                        <a href="{{ baseUrl }}/collection/show/{{ collection.id }}" target="_blank"><i class="fa fa-eye"></i></a>
                    </td>
                    <td>
                        {{ collection.id }}
                        <input id="col{{ collection.id }}" type="hidden" name="collId" value="{{ collection.id }}">
                    </td>
                    <td data-search="{{ collection.name }}" data-order="{{ collection.name }}">
                        <input type="text" class="form-control form-control-sm" name="name" value="{{ collection.name }}">
                    </td>
                    <td>{{ collection.author }}</td>
                    <td data-search="{{ collection.doi }}" data-order="{{ collection.doi }}">
                        <input type="text" class="form-control form-control-sm" name="doi" value="{{ collection.doi }}">
                    </td>
                    <td data-search="{{ collection.sphere }}" data-order="{{ collection.sphere }}">
                        <select id="sphere" name="sphere" class="form-control form-control-sm">
                            <option></option>
                            <option value="hydrosphere" {{ collection.sphere == 'hydrosphere' ? 'selected' }}>hydrosphere</option>
                            <option value="cryosphere" {{ collection.sphere == 'cryosphere' ? 'selected' }}>cryosphere</option>
                            <option value="lithosphere" {{ collection.sphere == 'lithosphere' ? 'selected' }}>lithosphere</option>
                            <option value="pedosphere" {{ collection.sphere == 'pedosphere' ? 'selected' }}>pedosphere</option>
                            <option value="atmosphere" {{ collection.sphere == 'atmosphere' ? 'selected' }}>atmosphere</option>
                            <option value="biosphere" {{ collection.sphere == 'biosphere' ? 'selected' }}>biosphere</option>
                            <option value="anthroposphere" {{ collection.sphere == 'anthroposphere' ? 'selected' }}>anthroposphere</option>
                        </select>
                    </td>
                    <td data-search="{{ collection.note }}" data-order="{{ collection.note }}">
                        <input type="text" class="form-control form-control-sm" name="note" value="{{ collection.note }}">
                    </td>
                    <td>{{ collection.creationDate }}</td>
                    <td data-search="{{ collection.view }}" data-order="{{ collection.view }}">
                        <select id="view" name="view" class="form-control form-control-sm" required>
                            <option value="gallery" {{ collection.view == 'gallery' ? 'selected' }}>gallery</option>
                            <option value="list" {{ collection.view == 'list' ? 'selected' }}>list</option>
                            <option value="timeline" {{ collection.view == 'timeline' ? 'selected' }}>timeline</option>
                        </select>
                    </td>
                    <td class="text-center" data-search="{{ collection.publicAccess }}" data-order="{{ collection.publicAccess }}">
                        <input name="public_access" type="checkbox" {{ collection.publicAccess ? 'checked' }}>
                    </td>
                    <td class="text-center" data-search="{{ collection.publicTags }}" data-order="{{ collection.publicTags }}">
                        <input name="public_tags" type="checkbox" {{ collection.publicTags ? 'checked' }}>
                    </td>
                    <td>
                        <a class="js-delete-modal" href="#" data-id="{{ collection.id }}" data-name="{{ collection.name }}" title="Delete collection">
                            <span class="fas fa-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <label>Deleting this collection will also delete the <b class="text-danger" id="count"></b> recordings and all the tags inside and cannot be reversed!</label>
                            <label>Type "<b id="modal-collection" class="text-danger"></b>" to delete</label>
                            <input id="confirm_input" type="text">
                            <input id="delete_id" type="hidden">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <button id="js-delete-button" type="button" class="btn btn-outline-danger">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block header %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#collTable').show()
            $('#collTable').DataTable({
                "pageLength": 8,
                "lengthChange": false,
                "stateSave": true,
                "StateDuration": -1,
                "order": [[1, 'asc']],
                "columnDefs": [{
                    "orderable": false,
                    "targets": [0, 9]
                }],
                "bAutoWidth": false,
                "scrollX": true,
            });
        });

        $(function () {
            'use strict';

            /* Save collections list */
            $('.js-coll-list').on('change', 'input, select, textarea', function () {
                saveFormList($(this), 'api/admin/collectionMgr/save');
                var table = $('#collTable').DataTable()
                var tr = $(this).closest("tr")
                table.rows(tr).invalidate()
            });

            $(document).on('click', '#saveButton', function () {
                $('#collectionEdit').submit();
            });

            $('#collectionForm').submit(function (e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/collectionMgr/save', new FormData($(this)[0]), false, false, function () {
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });
            $('#collTable tbody').on('click', '.js-delete-modal', function () {
                var id = $(this).data('id')
                var name = $(this).data('name')
                $.ajax({
                    type: 'POST', url: '{{ baseUrl }}/api/admin/collectionMgr/count/' + id
                }).done(function (data) {
                    $('#modal-collection').text(name)
                    $("#confirm_input").val("")
                    $("#js-delete-button").hide()
                    $("#js-close-button").show()
                    $('#count').text(data)
                    $('#delete_id').val(id)
                    $("#modal-div").modal('show');
                })
            })
            $('#js-delete-button').click(function () {
                let row = $("#col" + $('#delete_id').val()).parents("tr");
                toggleLoading();
                deleteRequest('{{ baseUrl }}/api/admin/collectionMgr/delete/' + $('#delete_id').val(), [], false, false, location.reload());
            });
            $("#confirm_input").on('input', function () {
                if ($("#confirm_input").val() == $('#modal-collection').text()) {
                    $("#js-delete-button").show()
                    $("#js-close-button").hide()
                } else {
                    $("#js-delete-button").hide()
                    $("#js-close-button").show()
                }
            });
            $(document).on('click', '#collectionsExport', function () {
                window.location.href = '{{ baseUrl }}/api/admin/collectionMgr/export/' + $('#projectId').val();
            });

            $("#modal-div").keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#modal-div").modal('hide');
                    event.preventDefault();
                }
            });

            $('#projectId').change(function () {
                $("#projectForm").submit();
            });
        });
    </script>
{% endblock %}
