{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/collCreate.html.twig' %}
    <div class="card mb-3" id="collectionsList">
        <div class="card-header border-light bg-white text-right">
            <button id="collectionsExport" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#collectionsExport" aria-expanded="false" aria-controls="collectionsExport">
                <i class="fa fa-download"></i>
                Collection Export
            </button>
            <button id="collectionFormButton" class="btn btn-outline-primary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#collectionFormSection" aria-expanded="false" aria-controls="collectionFormSection">
                <i class="fas fa-plus"></i>
                Add Collection
            </button>
        </div>
        <table id="collTable" style="display:none">
            <thead class="form-control-sm table-borderless">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>User ID</th>
                <th>DOI</th>
                <th>Description</th>
                <th>Creation Date (UTC)</th>
                <th>View</th>
                <th>Public</th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-coll-list">
            {% for collection in collections %}
                <tr>
                    <td>
                        {{ collection.id }}
                        <input type="hidden" name="collId" value="{{ collection.id }}">
                    </td>
                    <td data-search="{{ collection.name }}" data-order="{{ collection.name }}">
                        <input type="text" class="form-control form-control-sm" name="name" value="{{ collection.name }}">
                    </td>
                    <td>{{ collection.author }}</td>
                    <td data-search="{{ collection.doi }}" data-order="{{ collection.doi }}">
                        <input type="text" class="form-control form-control-sm" name="doi" value="{{ collection.doi }}">
                    </td>
                    <td data-search="{{ collection.note }}" data-order="{{ collection.note }}">
                        <input type="text" class="form-control form-control-sm" name="note" value="{{ collection.note }}">
                    </td>
                    <td>{{ collection.creationDate }}</td>
                    <td data-search="{{ collection.view }}" data-order="{{ collection.view }}">
                        <select id="view" name="view" class="form-control form-control-sm" required>
                            <option value="gallery" {{ collection.view == 'gallery' ? 'selected' }}>gallery</option>
                            <option value="list" {{ collection.view == 'list' ? 'selected' }}>list</option>
                        </select>
                    </td>
                    <td class="text-center" data-search="{{ collection.public }}" data-order="{{ collection.public }}">
                        <input name="public" type="checkbox" {{ collection.public ? 'checked' }}>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block header %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#collTable').DataTable({
                "pageLength": 8,
                "lengthChange": false,
                "stateSave": true,
                "StateDuration": -1,
                "order": [[0, 'asc']],
            });
            $('#collTable').show()
        });

        $(function () {
            'use strict';

            /* Save collections list */
            $('.js-coll-list').on('change', 'input, select, textarea', function () {
                saveFormList($(this), 'api/admin/collectionMgr/save');
                var table = $('#collTable').DataTable()
                var tr = $(this).closest("tr")
                table.rows(tr).invalidate()
            });

            $(document).on('click', '#saveButton', function () {
                $('#collectionEdit').submit();
            });

            $('#collectionForm').submit(function (e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/collectionMgr/save', $(this).serialize(), false, false, function () {
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });

            $(document).on('click', '#collectionsExport', function () {
                window.location.href = '{{ baseUrl }}/api/admin/collectionMgr/export';
            });
        });
    </script>
{% endblock %}
