<div class="collapse mb-5" id="collectionFormSection">
    <div class="card">
        <div class="card-body">
            <button id="closeForm" class="close" type="button" data-toggle="collapse"
                    data-target="#collectionFormSection" aria-expanded="false" aria-controls="collectionFormSection">
                <span>&times;</span>
            </button>
            <form id="collectionForm" novalidate>
                <div class="form-group">
                    <input type="hidden" name="public" value="0">
                    <input type="hidden" name="project_id_hidden" value="{{ projectId }}">
                    <label for="name" class="col-form-label-sm">Collection name</label>
                    <input id="name" type="text" name="name_text" class="form-control form-control-sm" maxlength="100"
                           required>
                    <div class="invalid-feedback">
                        Please provide a collection name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="doi" class="col-form-label-sm">DOI</label>
                    <input id="doi" type="text" name="doi_text" class="form-control form-control-sm" maxlength="100">
                    <div class="invalid-feedback">
                        Please provide the DOI.
                    </div>
                </div>
                <div class="form-group">
                    <label for="note" class="col-form-albel-sm">Description</label>
                    <input id="note" type="text" name="note_text" class="form-control form-control-sm" maxlength="100">
                    <div class="invalid-feedback">
                        Please provide the note.
                    </div>
                </div>
                <div class="form-group">
                    <label for="domain" class="col-form-label-sm">Domain</label>
                    <select id="domain" name="domain_select-one" class="form-control form-control-sm">
                        <option></option>
                        <option value="hydrosphere" {{ collection.domain == 'hydrosphere' ? 'selected' }}>hydrosphere</option>
                        <option value="cryosphere" {{ collection.domain == 'cryosphere' ? 'selected' }}>cryosphere</option>
                        <option value="lithosphere" {{ collection.domain == 'lithosphere' ? 'selected' }}>lithosphere</option>
                        <option value="pedosphere" {{ collection.domain == 'pedosphere' ? 'selected' }}>pedosphere</option>
                        <option value="atmopshere" {{ collection.domain == 'atmopshere' ? 'selected' }}>atmopshere</option>
                        <option value="biosphere" {{ collection.domain == 'biosphere' ? 'selected' }}>biosphere</option>
                        <option value="anthroposphere" {{ collection.domain == 'anthroposphere' ? 'selected' }}>anthroposphere</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="view" class="col-form-label-sm">View</label>
                    <select id="view" name="view_select-one" class="form-control form-control-sm" required>
                        <option value="gallery">gallery</option>
                        <option value="list">list</option>
                        <option value="timeline">timeline</option>
                    </select>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
