{% extends 'administration/admin.html.twig' %}

{% block admin_content %}
    <div class="card mb-3" id="indexLogsList">
        <div class="card-header border-light bg-white text-right">
            <div class="form-inline">
                <div class="col-12 form-inline justify-content-end">
                    <label class="mr-2">Search:</label>
                    <input class="form-control-sm" id="search">
                </div>
            </div>
            <button id="deletion" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#deletion" disabled>
                <i class="fas fa-trash"></i>
                Delete
            </button>
            <button id="indexLogsExport" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#indexLogsExport" aria-expanded="false" aria-controls="indexLogsExport">
                <i class="fa fa-file-csv"></i>
                Save all as CSV
            </button>
        </div>
        <table id="indexLogsTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
            <tr style="font-size: .875rem;">
                <th>
                    <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                </th>
                <th>#</th>
                <th>Recording</th>
                <th>User</th>
                <th>Index</th>
                <th>Version</th>
                <th>Time Start</th>
                <th>Time End</th>
                <th>Min Freq</th>
                <th>Max Freq</th>
                <th>Variable Type</th>
                <th>Variable Order</th>
                <th>Variable Name</th>
                <th>Variable Value</th>
                <th>Creation Date (UTC)</th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-index-log-list"></tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <input id="delete_id" type="hidden">
                            <label id="delete_info"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <button id="js-delete-button" type="button" class="btn btn-outline-danger">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block header %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#indexLogsTable').show()
            let table=$('#indexLogsTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '{{ baseUrl }}/admin/indexLogMgr/getListByPage/{{ projectId }}/{{ colId }}',
                    "type": 'POST',
                    "error": function (xhr, error, thrown) {
                        if (xhr.status == 400 || xhr.status == 404 ||xhr.status == 500) {
                            location.reload();
                        }
                    }
                },
                "dom": 'lrtip',
                "stateSave": true,
                "StateDuration": -1,
                "order": [[1, 'asc']],
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [0],
                    },
                    {
                        "className": "dt-center",
                        "targets": [0],
                    }],
                "bAutoWidth": false,
                "scrollX": true,
            });
            if (table.state.loaded()) {
                $('#search').val(table.state.loaded().search.search);
            }
            $('#search').on('input', () => {
                table.search($('#search').val()).draw();
            });
        });
        $(function () {
            'use strict';
            $(document).on('click', '#indexLogsExport', function () {
                window.location.href = '{{ baseUrl }}/api/admin/indexLogMgr/export';
            });

            $('button[name="table-btn"][data-target="#deletion"]').click(function (e) {
                if($('.js-checkbox:checked').length>1){
                    $('#delete_info').html("Are you sure you want to delete these <b class=\"text-danger\" >"+$('.js-checkbox:checked').length+"</b> entries?")
                }else{
                    $('#delete_info').html("Are you sure you want to delete this entry?")
                }
                $("#modal-div").modal('show');
            })

            $('#js-delete-button').click(function (e) {
                let dataArray  = [];
                $('.js-checkbox:checked').each(function () {
                    var id = $(this).data('id');
                    var recording_id = $(this).data('recording');
                    var index_id = $(this).data('index');

                    var dataString = '(' + id + ', ' + recording_id + ', ' + index_id + ')';
                    dataArray.push(dataString);
                });
                let data = {'id': dataArray.join(', ')};
                postRequest('{{ baseUrl }}/api/admin/indexLogMgr/delete', data, false, false, function () {
                    location.reload();
                });
            });
        });
    </script>
{% endblock %}
