{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/upload.html.twig' with {'site': site, 'colId': colId} %}
    <div class="card mb-3" id="recordingsList">
        <div class="card-header border-light bg-white text-right">
            <div class="form-inline">
                <form id="projectForm" class="form-inline col-8" action="{{ baseUrl }}/admin/recordings">
                    <label for="projectId">Project</label>
                    <select id="projectId" name="projectId" class="form-control form-control-sm ml-3">
                        {% for project in projects %}
                            <option value="{{ project.id }}" {{ project.id == projectId ? 'selected' }} {{ project.collection is null ?"disabled" }}>
                                {{ project.name }}{{ project.collection_id }}{{ project.collection is null ?" (No Data)" }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="collId" class="ml-3">Collection</label>
                    <select id="colId" name="colId" class="form-control form-control-sm ml-3">
                        {% for collection in collections %}
                            <option value="{{ collection.id }}" {{ collection.id == colId ? 'selected' }}>
                                {{ collection.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                <div class="col-4 form-inline justify-content-end">
                    <label class="mr-2">Search:</label>
                    <input class="form-control-sm" id="search">
                </div>
            </div>
            <form id="metaDataForm" method="POST" class="collapse">
                <input type="file" name="metaDataFile" id="metaDataFile" accept="text/csv" style="display: none">
                <input type="hidden" name="colId" value="{{ colId }}">
            </form>
            <button id="viewing" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#viewing" disabled>
                <i class="fas fa-eye"></i>
                View
            </button>
            <button id="maads" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#maads" disabled>
                <i class="svg-sum"></i>
                Acoustic Index Analysis
            </button>
            <button id="models" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#models" disabled>
                <i class="svg-model"></i>
                Models
            </button>
            <button id="download" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#download" disabled>
                <i class="fas fa-download"></i>
                Export
            </button>
            <button id="deletion" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#deletion" disabled>
                <i class="fas fa-trash"></i>
                Delete
            </button>
            <button class="btn btn-outline-primary btn-sm mt-2 dropdown-toggle" id="metaData" type="button" data-toggle="dropdown" aria-expanded="false">
                <span class="fas fa-plus"></span>
                Add
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" type="button" id="uploadButton"><i class="fas fa-file-audio"></i> Upload Recordings</a>
                <a class="dropdown-item" type="button" id="metaDataButton"><i class="fa-solid fa-file-arrow-up"></i> Upload Meta-data</a>
                <a class="dropdown-item" type="button" id="viewInstructions"><i class="fa-solid fa-circle-info"></i> Meta-data Instructions</a>
            </div>
            <button id="recordingsExport" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#recordingsExport" aria-expanded="false" aria-controls="recordingsExport">
                <i class="fa fa-file-csv"></i>
                Save all as CSV
            </button>
        </div>
        <table id="recTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
            <tr style="font-size: .875rem;">
                <th>
                    <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                </th>
                <th>#</th>
                <th>Original Filename</th>
                <th>Name</th>
                <th>User</th>
                <th>Site</th>
                <th>Recorder</th>
                <th>Microphone</th>
                <th>License</th>
                <th>Recording Type</th>
                <th>Medium</th>
                <th>Note</th>
                <th>DOI</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-recording-list"></tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <input id="delete_id" type="hidden">
                            <label style=" width: 100%;max-height: 70vh;overflow: auto">Deleting <b class="text-danger" id="delete_name"></b> will also delete the <b class="text-danger" id="count"></b> tags inside and cannot be reversed!</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <button id="js-delete-button" type="button" class="btn btn-outline-danger">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-info" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Instructions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <label>Recording meta-data can be uploaded with a CSV containing the following columns:<br><br>
                                recording_start (format: YYYY-MM-DD HH:MM:SS, local time)<br>
                                duration_s (duration of recording in seconds)<br>
                                sampling_rate (numeric value in Hz)<br>
                                name (optional, limited to 40 characters)<br>
                                bit_rate (optional, integer)<br>
                                channel_number (optional, integer)<br><br>
                                You can download a <a class="text-info" id="metaDemo">template CSV file</a> to fill in your data.</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-tf" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title maad-title">Classifiers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <select id="tf" name="tf_id" autocomplete="off" class="form-control form-control-sm col-6 mb-3" required>
                                {% for model in models %}
                                    <option value="{{ model.tf_model_id }}">{{ model.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="tf-info"></div>
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <a id='model-btn' class="js-tf-modal btn btn-outline-primary">
                        <i class="fa-solid fa-check"></i>
                        Submit
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-maad" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title maad-title">Acoustic Index Analysis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <select id="maad" name="maad_id" class=" mb-3" data-selected-text-format="count" multiple required>
                                {% for index in indexs %}
                                    <option value="{{ index.indexId }}">{{ index.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="maad-box" style="max-height: 600px;overflow: auto"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="maad-info"></div>
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <a href="#" class="js-maad-modal btn btn-outline-primary">
                        <i class="fa-solid fa-check"></i>
                        Compute & Save
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block header %}
        {{ parent() }}
        <!-- PUpload -->
        <link rel="stylesheet" href="{{ baseUrl }}/assets/plupload/jquery.plupload.queue.css" media="screen">

        <script src="{{ baseUrl }}/assets/plupload/js/plupload.full.min.js" defer></script>
        <script src="{{ baseUrl }}/assets/plupload/js/jquery.plupload.queue.min.js" defer></script>
        <script src="{{ baseUrl }}/templates/administration/js/upload.js?v=1.2" defer></script>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script>
            var arr ={{ users|json_encode|raw }};
            var microphones ={{ microphones|json_encode|raw }};
            $(document).ready(function () {
                $('#recTable').show()
                let table = $('#recTable').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ baseUrl }}/admin/recordingManager/getListByPage/{{ projectId }}/{{ colId }}',
                        "type": 'POST',
                        "error": function (xhr, error, thrown) {
                            if (xhr.status == 400 || xhr.status == 404 ||xhr.status == 500) {
                                location.reload();
                            }
                        }
                    },
                    "dom": 'lrtip',
                    "stateSave": true,
                    "StateDuration": -1,
                    "order": [[1, 'asc']],
                    "columnDefs": [
                        {
                            "orderable": false,
                            "targets": [0],
                        },
                        {
                            "className": "dt-center",
                            "targets": [0],
                        }
                    ],
                    "bAutoWidth": false,
                    "scrollX": true,
                });
                $('#maad').selectpicker('refresh');
                if (table.state.loaded()) {
                    $('#search').val(table.state.loaded().search.search);
                }
                $('#search').on('input', () => {
                    table.search($('#search').val()).draw();
                });
                $('#tf').change(function () {
                    let html = ''
                    $(this).siblings().remove();
                    {% for model in models %}
                    if ($(this).val() == '{{ model.tf_model_id }}') {
                        html = html + '<div class="col-form-label">' +
                            '<strong>Description:</strong>' +
                            '<a class="col-form-label" href="{{ model.source_URL }}" target="_blank" title="Documentation"> <i class="fa fa-book"></i></a>' +
                            '<div class="col-form-label-sm">{{ model.description }}</div></div>'
                        let data = '{{ model.parameter }}'.split('$').map(item => item.split('@'));
                        $.each(data, function (index, value) {
                            html = html + '<div class="form-inline">' +
                                '<label class="ml-1 col-form-label-sm" for="' + value[0] + '">' + value[0] + '</label></div>' +
                                '<div class="form-group form-inline">' +
                                '<input id="' + value[0] + '" name="' + value[0] + '" class="form-control form-control-sm" type="text">' +
                                '<label class="ml-2 col-form-label-sm">' + value[1] + '</label></div>'
                        })
                        $(this).after(html)
                    }
                    {% endfor %}
                })
                $("#tf").change();
            });
            document.addEventListener("DOMContentLoaded", function (event) {
                $("#uploadButton").click(function (e) {
                    document.querySelector('#file-uploader_browse').click();
                });

                $('#file-uploader').on('change', 'input[type=file]', function (event) {
                    toggleLoading()
                });

                $('#uploadForm').collapse('hide').on('hide.bs.collapse', function () {
                    location.reload();
                });

                $("#uploadForm").on('shown.bs.collapse', function () {
                    $("#recordingsList").hide();
                }).on('hidden.bs.collapse', function () {
                    $("#recordingsList").show();
                });

                $('#viewInstructions').click(function () {
                    $("#modal-info").modal('show');
                })

                $('#js-delete-button').click(function () {
                    postRequest('{{ baseUrl }}/api/admin/recordingManager/delete', {'id': $('#delete_id').val()}, false, false, function () {
                        location.reload();
                    });
                });

                /* Save recordings list */
                $(".js-recording-list").on('change', 'input, select, textarea', function () {
                    if ($(this)[0].className == 'js-checkbox') {
                        return
                    }
                    saveFormList($(this), 'api/admin/recordingManager/save');
                });

                $("#modal-div").keydown(function (e) {
                    if (e.keyCode == 13) {
                        $("#modal-div").modal('hide');
                        event.preventDefault();
                    }
                });
                $("select[name='user_id']").on('mouseenter ', function () {
                    if ($(this)[0].options.length < 2) {
                        for (var key in arr) {
                            if ($(this).val() != arr[key]['user_id']) {
                                $(this).append("<option value='" + arr[key]['user_id'] + "'>" + arr[key]['name'] + "</option>");
                            }
                        }
                    }
                });

                $("#recorder").on('change', function () {
                    $('#microphone').empty()
                    $('#microphone').removeAttr('disabled')
                    var microphone = $(this).find('option:selected').attr('data-microphone').split(',')
                    $('#microphone').append("<option></option>")
                    for (var key in microphones) {
                        if ($.inArray(microphones[key]['microphone_id'] += '', microphone) >= 0) {
                            $('#microphone').append("<option value='" + microphones[key]['microphone_id'] + "'>" + microphones[key]['name'] + "</option>");
                        }
                    }
                });
                $("select[name='recorder_id']").on('change', function () {
                    var id = $(this).attr('id').split('_')[1]
                    $("#microphone_" + id).empty()
                    $("#microphone_" + id).append("<option value='0'></option>");
                    var microphone = $(this).find('option:selected').attr('data-microphone').split(',')
                    for (var key in microphones) {
                        if ($.inArray(microphones[key]['microphone_id'] += '', microphone) >= 0) {
                            $('#microphone_' + id).append("<option value='" + microphones[key]['microphone_id'] + "'>" + microphones[key]['name'] + "</option>");
                        }
                    }
                });
                $("select[name='microphone_id']").on('mouseenter ', function () {
                    if ($(this)[0].options.length < 2) {
                        var id = $(this).attr('id').split('_')[1]
                        if ($('#recorder_' + id).val() != 0) {
                            if ($(this).val() > 0) {
                                $("#microphone_" + id).prepend("<option value='0'></option>")
                            }
                            var microphone = $('#recorder_' + id).find('option:selected').attr('data-microphone').split(',')
                            for (var key in microphones) {
                                if ($.inArray(microphones[key]['microphone_id'] += '', microphone) >= 0) {
                                    if ($(this).val() != microphones[key]['microphone_id']) {
                                        $('#microphone_' + id).append("<option value='" + microphones[key]['microphone_id'] + "'>" + microphones[key]['name'] + "</option>");
                                    }
                                }
                            }
                        }
                    }
                });
                $('#projectId').change(function () {
                    $('#colId').val("")
                    $("#projectForm").submit();
                });
                $('#colId').change(function () {
                    $("#projectForm").submit();
                });
                $('#metaDemo').on('click', function () {
                    window.location.href = '{{ baseUrl }}/api/admin/recordingManager/download';
                });
                $('#models').on('click', function () {
                    let count = 0
                    $('.js-checkbox:checked').each(function () {
                        if ($(this).data('type') == 'audio data') {
                            count = count + 1
                        }
                    });
                    if (count == 0) {
                        showAlert('Select at least one audio recording.');
                        e.preventDefault();
                        return
                    }
                    $('#modal-tf').modal('show');
                    $('#modal-tf').find('#tf-info').html('<small>Launch job for ' + $('.js-checkbox:checked').length + ' recordings?</small>')
                })
                $('#maads').on('click', function () {
                    let count = 0
                    $('.js-checkbox:checked').each(function () {
                        if ($(this).data('type') == 'audio data') {
                            count = count + 1
                        }
                    });
                    if (count == 0) {
                        showAlert('Select at least one audio recording.');
                        e.preventDefault();
                        return
                    }
                    $('#modal-maad').modal('show');
                    $('#modal-maad').find('#maad-info').html('<small>Launch job for ' + $('.js-checkbox:checked').length + ' recordings?</small>')
                })
                $(document).on('click', '#recordingsExport', function () {
                    window.location.href = '{{ baseUrl }}/api/admin/recordingManager/export/' + $('#colId').val();
                });

                $(".js-tf-modal").click(function (e) {
                    let data = []
                    let arr = []
                    let id = [];
                    $('.js-checkbox:checked').each(function () {
                        id.push($(this).closest('tr').find('[name="itemID"]').val());
                    });
                    id = id.join(',')
                    if ($('#tf').val() == 1) {
                        arr = {
                            'sensitivity': $("#sensitivity").val(),
                            'min_conf': $("#min_conf").val(),
                            'overlap': $("#overlap").val(),
                            'sf_thresh': $("#sf_thresh").val(),
                            'creator_type': $("#tf option:selected").text(),
                        };
                    } else if ($('#tf').val() == 2) {
                        arr = {
                            'detection_threshold': $("#detection_threshold").val(),
                            'creator_type': $("#tf option:selected").text(),
                        };
                    }
                    arr = JSON.stringify(arr)
                    data.push(arr)
                    postRequest('{{ baseUrl }}/api/admin/recordingManager/model', {'id': id, 'data': data}, false, false, function () {
                        $('#modal-tf').modal('hide')
                        showAlert("Job added to your queue - check status under corresponding tab")
                    });
                    e.preventDefault();
                });
                $('button[name="table-btn"][data-target="#viewing"]').click(function (e) {
                    let count = 0
                    $('.js-checkbox:checked').each(function () {
                        if ($(this).data('type') == 'audio data') {
                            count = count + 1
                            window.open('{{ baseUrl }}/recording/show/' + $(this).data('id'), '_blank');
                        }
                    });
                    if (count == 0) {
                        showAlert('Select at least one audio recording.');
                    }
                    e.preventDefault();
                })
                $('button[name="table-btn"][data-target="#download"]').click(function (e) {
                    let count = 0
                    $('.js-checkbox:checked').each(function () {
                        if ($(this).data('type') == 'audio data') {
                            count = count + 1
                            $('#download' + $(this).data('id'))[0].click()
                        }
                    });
                    if (count == 0) {
                        showAlert('Select at least one audio recording.');
                    }
                    e.preventDefault();
                })
                $('button[name="table-btn"][data-target="#deletion"]').click(function (e) {
                    let id = [];
                    let name = [];
                    $('.js-checkbox:checked').each(function () {
                        id.push($(this).data('id'));
                        name.push($('#name_' + $(this).data('id')).val())
                    });
                    id = id.join(',')
                    name = name.join(', ')
                    $('#delete_name').html(name)
                    $.ajax({
                        type: 'POST', url: '{{ baseUrl }}/api/admin/recordingManager/count',
                        data: {'id': id},
                    }).done(function (data) {
                        $('#count').text(data)
                        $('#delete_id').val(id)
                        $("#modal-div").modal('show');
                    })
                })
                $('#maad').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                    var selectedOption = $(this).find('option').eq(clickedIndex);
                    var value = selectedOption.val();
                    if (isSelected) {
                        $('#maad-box').append($('#js' + value).text());
                    } else {
                        $('#maad' + value).remove();
                    }
                });
                $(".js-maad-modal").click(function (e) {
                    if ($('#maad-box').text() == '') {
                        showAlert('Select at least one index.')
                        e.preventDefault();
                        return
                    }
                    let data = []
                    let param = {}
                    let id = []
                    let arr = []
                    $('.param').each(function () {
                        if ($(this).val() != '') {
                            param[$(this).data('id')] = (param[$(this).data('id')] ? param[$(this).data('id')] : '') + $(this).attr('id') + '?' + $(this).val() + '@'
                        }
                    })
                    $('.js-checkbox:checked').each(function () {
                        if ($(this).data('type') == 'audio data') {
                            id.push($(this).data('id'));
                        }
                    });
                    id = id.join(',')
                    $('#maad option:selected').each(function () {
                        arr = {
                            'index_id': $(this).val(),
                            'index': $(this).text(),
                            'param': param[$(this).val()],
                        };
                        data.push(arr)
                    })
                    data = JSON.stringify(data)
                    postRequest('{{ baseUrl }}/api/admin/recordingManager/maad', {'id': id, 'data': data}, false, false, function () {
                        $('#modal-maad').modal('hide')
                        showAlert("Job added to your queue - check status under corresponding tab")
                    });
                });
            });
        </script>
        {% for index in indexs %}
            <script id="js{{ index.indexId }}" type="text/html">
                <div id="maad{{ index.indexId }}" class="border mt-3 mr-3">
                    <div class="m-4">
                        <div class="col-form-label">
                            <h4>{{ index.name }}</h4>
                            <strong>Description:</strong>
                            <a class="col-form-label" href="{{ index.URL }}" target="_blank" title="Documentation"> <i class="fa fa-book"></i></a>
                            <div class="col-form-label-sm">{{ index.description }}</div>
                        </div>
                        {% if index.param is not null and index.param != '' %}
                            {% for p in index.param|split('!') %}
                                <div class="form-inline">
                                    <label class="ml-1 col-form-label-sm" for="{{ p|split('|')[0] }}">{{ p|split('|')[0] }}</label>
                                </div>
                                <div class="form-group form-inline">
                                    <input id="{{ p|split('|')[0] }}" name="{{ p|split('|')[0] }}" class="form-control form-control-sm param" data-id="{{ index.indexId }}" type="text">
                                    <label class="ml-2 col-form-label-sm">default: {{ p|split('|')[1] }}</label>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </script>
        {% endfor %}
    {% endblock %}
