{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/upload.html.twig' with {'sensor': sensor, 'site': site, 'colId': colId} %}
    <div class="card mb-3" id="recordingsList">
        <div class="card-header border-light bg-white text-right">
            <div class="row">
                <div class="col-auto mr-auto mt-2">
                    <form id="projectForm" class="form-inline" action="{{ baseUrl }}/admin/recordings">
                        <label for="projectId">Project</label>
                        <select id="projectId" name="projectId" class="form-control form-control-sm ml-3">
                            {% for project in projects %}
                                <option value="{{ project.id }}" {{ project.id == projectId ? 'selected' }} {{ project.collection is null ?"disabled" }}>
                                    {{ project.name }}{{ project.collection_id }}{{ project.collection is null ?" (No Data)" }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="collId" class="ml-3">Collection</label>
                        <select id="colId" name="colId" class="form-control form-control-sm ml-3">
                            {% for collection in collections %}
                                <option value="{{ collection.id }}" {{ collection.id == colId ? 'selected' }}>
                                    {{ collection.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="col-auto ml-auto">
                    <form id="metaDataForm" method="POST" class="collapse">
                        <input type="file" name="metaDataFile" id="metaDataFile" accept="text/csv" style="display: none">
                        <input type="hidden" name="colId" value="{{ colId }}">
                    </form>
                    <button class="btn btn-outline-primary btn-sm mt-2 dropdown-toggle" id="metaData" type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-file-csv"></i> Meta-data
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" type="button" id="metaDataButton"><i class="fa-solid fa-file-arrow-up"></i> Upload Meta-data</a>
                        <a class="dropdown-item" type="button" id="viewInstructions"><i class="fa-solid fa-circle-info"></i> View Instructions</a>
                    </div>
                    <button type="button" id="uploadButton" data-toggle="collapse" data-target="#uploadForm" class="btn btn-outline-primary btn-sm mt-2">
                        <span class="fas fa-upload"></span>
                        Upload Files
                    </button>
                </div>
            </div>
        </div>
        <table id="recTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
            <tr style="font-size: .875rem;">
                <th></th>
                <th>#</th>
                <th>Original Filename</th>
                <th>Name</th>
                <th>User</th>
                <th>Site</th>
                <th>Recorder</th>
                <th>Microphone</th>
                <th>License</th>
                <th>Recording Type</th>
                <th>Medium</th>
                <th>Note</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-recording-list">
            {% for recording in recordings %}
                <tr>
                    <td>
                        {% if recording.data_type=='audio data' %}
                            <a href="{{ baseUrl }}/recording/show/{{ recording.id }}" target="_blank"><i class="fa fa-eye"></i></a>
                        {% else %}
                            <i class="fa fa-eye-slash"></i>
                        {% endif %}
                    </td>
                    <td>
                        {{ recording.id }}
                        <input type="hidden" name="itemID" value="{{ recording.id }}"/>
                        <input id="old_id{{ recording.id }}" type="hidden" value="{{ recording.user_id }}">
                        <input id="old_name{{ recording.id }}" type="hidden" value="{{ recording.username }}">
                        <input id="directory{{ recording.id }}" type="hidden" value="{{ recording.directory }}">
                        <input id="path{{ recording.id }}" type="hidden" value="{{ recording.path }}">
                        <input id="max_freq{{ recording.id }}" type="hidden" value="{{ recording.samplingRate/2 }}">
                    </td>
                    <td>{{ recording.filename }}</td>
                    <td data-search="{{ recording.name }}" data-order="{{ recording.name }}">
                        <input type='text' id="name_{{ recording.id }}" class="form-control form-control-sm" style="width:200px;" title="Name" name="name" value="{{ recording.name }}">
                    </td>
                    <td data-search="{{ recording.username }}" data-order="{{ recording.username }}">
                        <select id="user_id{{ recording.id }}" name="user_id" style="width:120px;" class="form-control form-control-sm show-menu-arrow" data-live-search="true">
                            <option value="{{ recording.userId }}">{{ recording.username }}</option>
                        </select>
                    </td>
                    <td data-search="{{ recording.siteName }}" data-order="{{ recording.siteName }}">
                        <select id="site_id{{ recording.id }}" name="site_id" style="width:120px;" class="form-control form-control-sm">
                            <option value="0"></option>
                            {% for st in sites %}
                                <option value="{{ st.site_id }}" {{ st.site_id == recording.site ? 'selected' }} data-lat="{{ st.latitude_WGS84_dd_dddd }}" data-lon="{{ st.longitude_WGS84_dd_dddd }}">
                                    {{ st.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td data-search="{{ recording.recorderName }}{{ recording.brand }}" data-order="{{ recording.brand }}">
                        <select name="recorder_id" id="recorder_{{ recording.id }}" style="width:250px;" class="form-control form-control-sm">
                            <option value="0"></option>
                            {% for recorder in recorders %}
                                <option value="{{ recorder.recorder_id }}" data-microphone="{{ recorder.microphone }}" {{ recorder.recorder_id == recording.recorder ? 'selected' }}>
                                    {{ recorder.modal }}{% if recorder.brand!='' or recorder.brand is not null %} | {{ recorder.brand }}{% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td data-search="{{ recording.microphoneName }}" data-order="{{ recording.microphoneName }}">
                        <select name="microphone_id" id="microphone_{{ recording.id }}" style="width:250px;" class="form-control form-control-sm">
                            <option value="{{ recording.microphone }}">{{ recording.microphoneName }}</option>
                        </select>
                    </td>
                    <td data-search="{{ recording.licenseName }}" data-order="{{ recording.licenseName }}">
                        <select name="license_id" style="width:140px;" class="form-control form-control-sm">
                            <option value="0"></option>
                            {% for licensed in license %}
                                <option value="{{ licensed.license_id }}" {{ licensed.license_id == recording.license ? 'selected' }}>{{ licensed.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td data-search="{{ recording.type }}" data-order="{{ recording.type }}">
                        <select name="type" style="width:100px;" class="form-control form-control-sm">
                            <option value="0"></option>
                            <option {{ recording.type == 'Passive' ? 'selected' }}>Passive</option>
                            <option {{ recording.type == 'Focal' ? 'selected' }}>Focal</option>
                            <option {{ recording.type == 'Enclosure' ? 'selected' }}>Enclosure</option>
                        </select>
                    </td>
                    <td data-search="{{ recording.medium }}" data-order="{{ recording.medium }}">
                        <select name="medium" style="width:80px;" class="form-control form-control-sm">
                            <option value="0"></option>
                            <option {{ recording.medium == 'Air' ? 'selected' }}>Air</option>
                            <option {{ recording.medium == 'Water' ? 'selected' }}>Water</option>
                        </select>
                    </td>
                    <td data-search="{{ recording.note }}" data-order="{{ recording.note }}">
                        <input type='text' class="form-control form-control-sm" style="width:200px;" title="Note" name="note" value="{{ recording.note }}">
                    </td>
                    <td data-search="{{ recording.fileDate }}" data-order="{{ recording.fileDate }}">
                        <input type='date' id="file_date{{ recording.id }}" class="form-control form-control-sm" title="Date" name="file_date" value="{{ recording.fileDate }}">
                    </td>
                    <td data-search="{{ recording.fileTime }}" data-order="{{ recording.fileTime }}">
                        <input type='time' class="form-control form-control-sm" title="Time" name="file_time" min="00:00:00" max="23:59:59" step="1" value="{{ recording.fileTime }}">
                    </td>
                    <td>
                        {% if recording.data_type=='audio data' %}
                            <a href="#" class="js-open-tf-modal" data-id="{{ recording.id }}">
                                <span class="fa-solid fa-gears"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a class="js-delete-modal" href="#" data-id="{{ recording.id }}" title="Delete recording">
                            <span class="fas fa-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <input id="delete_id" type="hidden">
                            <label>Deleting this recording will also delete the <b class="text-danger" id="count"></b> tags inside and cannot be reversed!</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <button id="js-delete-button" type="button" class="btn btn-outline-danger">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-info" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Instructions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <label>Recording meta-data can be uploaded with a CSV containing the following columns:<br><br>
                                recording_start (format: YYYY-MM-DD HH:MM:SS, local time)<br>
                                duration_s (duration of recording in seconds)<br>
                                sampling_rate (numeric value in Hz)<br>
                                name (optional, limited to 40 characters)<br>
                                bit_rate (optional, integer)<br>
                                channel_number (optional, integer)<br><br>
                                You can download a <a class="text-info" id="metaDemo">template CSV file</a> to fill in your data.</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-tf" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title maad-title">TensorFlow Models</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <input type="hidden" id="tf_id">
                            <select id="tf" name="tf_id" autocomplete="off" class="form-control form-control-sm col-6 mb-3" required>
                                <option value="0">BirdNET-Analyzer</option>
                            </select>
                            <div class="col-form-label">
                                <strong>Description:</strong>
                                <a class="col-form-label" href="https://github.com/kahst/BirdNET-Analyzer" target="_blank" title="Documentation"> <i class="fa fa-book"></i></a>
                                <div class="col-form-label-sm">Automated scientific audio data processing and bird ID.</div>
                            </div>
                            <div class="form-inline">
                                <label class="ml-1 col-form-label-sm" for="sensitivity">sensitivity</label>
                            </div>
                            <div class="form-group form-inline">
                                <input id="sensitivity" name="sensitivity" class="form-control form-control-sm" type="text">
                                <label class="ml-2 col-form-label-sm">Values in [0.5, 1.5]. Defaults to 1.0.</label>
                            </div>
                            <div class="form-inline">
                                <label class="ml-1 col-form-label-sm" for="min_conf">min_conf</label>
                            </div>
                            <div class="form-group form-inline">
                                <input id="min_conf" name="min_conf" class="form-control form-control-sm" type="text">
                                <label class="ml-2 col-form-label-sm">Values in [0.01, 0.99]. Defaults to 0.1.</label>
                            </div>
                            <div class="form-inline">
                                <label class="ml-1 col-form-label-sm" for="overlap">overlap</label>
                            </div>
                            <div class="form-group form-inline">
                                <input id="overlap" name="overlap" class="form-control form-control-sm" type="text">
                                <label class="ml-2 col-form-label-sm">Values in [0.0, 2.9]. Defaults to 0.0.</label>
                            </div>
                            <div class="form-inline">
                                <label class="ml-1 col-form-label-sm" for="sf_thresh">sf_thresh</label>
                            </div>
                            <div class="form-group form-inline">
                                <input id="sf_thresh" name="sf_thresh" class="form-control form-control-sm" type="text">
                                <label class="ml-2 col-form-label-sm">values in [0.01, 0.99]. Defaults to 0.03.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <a href="{{ baseUrl }}/recording/tf" class="js-tf-modal btn btn-outline-primary">
                        <i class="fa-solid fa-check"></i>
                        Submit
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block header %}
        {{ parent() }}
        <!-- PUpload -->
        <link rel="stylesheet" href="{{ baseUrl }}/assets/plupload/jquery.plupload.queue.css" media="screen">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/bootstrap-select.css">

        <script src="{{ baseUrl }}/assets/plupload/js/plupload.full.min.js" defer></script>
        <script src="{{ baseUrl }}/assets/plupload/js/jquery.plupload.queue.min.js" defer></script>
        <script src="{{ baseUrl }}/templates/administration/js/upload.js" defer></script>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script>
            var arr ={{ users|json_encode|raw }};
            var microphones ={{ microphones|json_encode|raw }};
            $(document).ready(function () {
                $('#recTable').show()
                $('#recTable').DataTable({
                    "pageLength": 8,
                    "lengthChange": false,
                    "stateSave": true,
                    "StateDuration": -1,
                    "order": [[1, 'asc']],
                    "columnDefs": [{
                        "orderable": false,
                        "targets": [0, 14, 15]
                    }],
                    "bAutoWidth": false,
                    "scrollX": true,
                });
            });
            document.addEventListener("DOMContentLoaded", function (event) {
                $("#uploadButton").click(function (e) {
                    $("#uploadButton").toggle();
                    $("#metaData").toggle();
                    document.getElementById('uploadForm').hidden = false;
                });
                $('.js-delete-modal').click(function (e) {
                    var id = $(this).data('id')
                    $.ajax({
                        type: 'POST', url: '{{ baseUrl }}/api/admin/recordingManager/count/' + id
                    }).done(function (data) {
                        $('#count').text(data)
                        $('#delete_id').val(id)
                        $("#modal-div").modal('show');
                    })
                })

                $('#viewInstructions').click(function () {
                    $("#modal-info").modal('show');
                })

                $('#js-delete-button').click(function () {
                    let row = $("#user_id" + $('#delete_id').val()).parents("tr");
                    deleteRequest('{{ baseUrl }}/api/admin/recordingManager/delete/' + $('#delete_id').val(), [], false, false, row.remove());
                    $('#modal-div').modal('hide');
                });

                /* Save recordings list */
                $(".js-recording-list").on('change', 'input, select, textarea', function () {
                    saveFormList($(this), 'api/admin/recordingManager/save');
                    var table = $('#recTable').DataTable()
                    var tr = $(this).closest("tr")
                    table.rows(tr).invalidate()
                });

                $("#modal-div").keydown(function (e) {
                    if (e.keyCode == 13) {
                        $("#modal-div").modal('hide');
                        event.preventDefault();
                    }
                });
                $("select[name='user_id']").on('mouseenter ', function () {
                    if ($(this)[0].options.length < 2) {
                        for (var key in arr) {
                            if ($(this).val() != arr[key]['user_id']) {
                                $(this).append("<option value='" + arr[key]['user_id'] + "'>" + arr[key]['name'] + "</option>");
                            }
                        }
                    }
                });

                $("#recorder").on('change', function () {
                    $('#microphone').empty()
                    $('#microphone').removeAttr('disabled')
                    var microphone = $(this).find('option:selected').attr('data-microphone').split(',')
                    $('#microphone').append("<option></option>")
                    for (var key in microphones) {
                        if ($.inArray(microphones[key]['microphone_id'] += '', microphone) >= 0) {
                            $('#microphone').append("<option value='" + microphones[key]['microphone_id'] + "'>" + microphones[key]['name'] + "</option>");
                        }
                    }
                });
                $("select[name='recorder_id']").on('change', function () {
                    var id = $(this).attr('id').split('_')[1]
                    $("#microphone_" + id).empty()
                    $("#microphone_" + id).append("<option value='0'></option>");
                    var microphone = $(this).find('option:selected').attr('data-microphone').split(',')
                    for (var key in microphones) {
                        if ($.inArray(microphones[key]['microphone_id'] += '', microphone) >= 0) {
                            $('#microphone_' + id).append("<option value='" + microphones[key]['microphone_id'] + "'>" + microphones[key]['name'] + "</option>");
                        }
                    }
                });
                $("select[name='microphone_id']").on('mouseenter ', function () {
                    if ($(this)[0].options.length < 2) {
                        var id = $(this).attr('id').split('_')[1]
                        if ($('#recorder_' + id).val() != 0) {
                            if ($(this).val() > 0) {
                                $("#microphone_" + id).prepend("<option value='0'></option>")
                            }
                            var microphone = $('#recorder_' + id).find('option:selected').attr('data-microphone').split(',')
                            for (var key in microphones) {
                                if ($.inArray(microphones[key]['microphone_id'] += '', microphone) >= 0) {
                                    if ($(this).val() != microphones[key]['microphone_id']) {
                                        $('#microphone_' + id).append("<option value='" + microphones[key]['microphone_id'] + "'>" + microphones[key]['name'] + "</option>");
                                    }
                                }
                            }
                        }
                    }
                });
                $('#projectId').change(function () {
                    $('#colId').val("")
                    $("#projectForm").submit();
                });
                $('#colId').change(function () {
                    $("#projectForm").submit();
                });
                $('#metaDemo').on('click', function () {
                    window.location.href = '{{ baseUrl }}/api/admin/recordingManager/download';
                });
                $('.js-open-tf-modal').click(function () {
                    $('#tf_id').val($(this).attr('data-id'))
                    $('#modal-tf').modal('show');
                })


                $(".js-tf-modal").click(function (e) {

                    let data = []
                    let id = $('#tf_id').val()
                    let lat, lon
                    if ($('#site_id' + id).find('option:selected').attr('data-lon') == undefined || $('#site_id' + id).find('option:selected').attr('data-lat') == undefined || $('#file_date' + id).val() == "") {
                        if (!confirm("Your recordings have not been assigned to geographic locations and date-times. BirdNET will produce unreliable results!")) {
                            e.preventDefault();
                            return
                        }
                        lat = ''
                        lon = ''
                    } else {
                        lat = $('#site_id' + id).find('option:selected').attr('data-lat')
                        lon = $('#site_id' + id).find('option:selected').attr('data-lon')
                    }
                    toggleLoading();
                    data = {
                        'temp': $("#path" + id).val(),
                        'recording_directory': $('#directory' + id).val(),
                        'filename': $('#name_' + id).val(),
                        'collection_id': $('#colId').val(),
                        'recording_id': id,
                        'lat': lat,
                        'lon': lon,
                        'file_date': $('#file_date' + id).val(),
                        'creator_type': $('#tf').text().replace(/\ +/g, ""),
                        'sensitivity': $("#sensitivity").val(),
                        'min_conf': $("#min_conf").val(),
                        'overlap': $("#overlap").val(),
                        'sf_thresh': $("#sf_thresh").val(),
                        'max_freq': $("#max_freq" + id).val(),
                    };
                    data = jsToFormData(data)
                    $.ajax({
                        type: 'POST',
                        url: this.href,
                        data: data,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                    })
                        .done(function (result) {
                            $('#modal-tf').modal('hide')
                            toggleLoading();
                            showAlert(result.message);
                        })
                        .fail(function (response) {
                            toggleLoading();
                            if (!response.responseJSON) {
                                showAlert('Error ' + response.message);
                                return;
                            }
                            showAlert(response.responseJSON.message);
                        })
                    e.preventDefault();
                });
            });
        </script>
    {% endblock %}
