{% extends 'administration/admin.html.twig' %}

{% block admin_content %}
    <div class="card">
        <div class="card-body">
            {% if is_admin %}
                <div class="form-group input-group-sm">
                    <label for="api_key">API Key</label>
                    <input id="api_key" type="text" name="api_key_text" class="form-control" value="{{ api_key }}" disabled>
                </div>
                {% if setting.shared %}
                    <div class="form-group text-right">
                        <button class="btn btn-sm btn-outline-primary btn-setting ml-3">Setting</button>
                    </div>
                {% endif %}
            {% endif %}
            <form action="{{ baseUrl }}/admin/settings/save" class="js-async-form" id="settingForm">
                <div class="form-group input-group-sm">
                    <label for="fft">FFT Window Size</label>
                    <select id="fft" name="fft" class="form-control">
                        {% for fft in ffts %}
                            <option {{ fft == user ? 'selected' : '' }}>{{ fft }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if is_admin %}
                    <div class="form-group input-group-sm">
                        <label for="server_name">Server Name</label>
                        <input id="server_name" type="text" name="server_name_text" class="form-control" value="{{ setting.server_name }}">
                        <div class="d-flex justify-content-end">
                            <div>
                                <input type="checkbox" class="form-check-input" id="shared" name="shared" {% if setting.shared %} checked {% endif %}>
                                <label class="label" for="shared"><small>Shared Data</small></label>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('.btn-setting').click(function (e) {
            requestModal("{{ baseUrl }}/admin/settings/view");
            e.preventDefault();
        })
    </script>
{% endblock %}
