{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/siteCreate.html.twig' %}
    <div class="card mb-3" id="siteList">
        <div class="card-header border-light bg-white text-right">
            <div class="row">
                <div class="col-auto mr-auto mt-2">
                    <form id="projectForm" class="form-inline" action="{{ baseUrl }}/admin/sites">
                        <label for="projectId">Project</label>
                        <select id="projectId" name="projectId" class="form-control form-control-sm ml-3">
                            {% for project in projects %}
                                <option value="{{ project.id }}" {{ project.id == projectId ? 'selected' }}>
                                    {{ project.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <button id="siteFormButton" class="btn btn-outline-primary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#siteFormSection" aria-expanded="false" aria-controls="siteFormSection">
                    <i class="fas fa-plus"></i>
                    Add Site
                </button>
            </div>
        </div>
        <table id="siteTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>GADM 0</th>
                <th>GADM 1</th>
                <th>GADM 2</th>
                <th>Realm</th>
                <th>Biome</th>
                <th>Functional Group</th>
                <th>Centroid</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-site-list">
            {% for site in siteList %}
                <tr>
                    <td>
                        {{ site.id }}
                        <input type="hidden" name="steId" value="{{ site.id }}">
                    </td>
                    <td data-search="{{ site.name }}" data-order="{{ site.name }}">
                        <input type="text" class="form-control form-control-sm" style="width:100px;" name="name" value="{{ site.name }}">
                    </td>
                    <td data-search="{{ site.longitude }}" data-order="{{ site.longitude }}">
                        <input type="number" class="form-control form-control-sm" style="width:80px;" name="longitude" min="-180" max="180" step="0.0000000000001" pattern="##.##############" value="{{ site.longitude }}">
                        <div class="invalid-feedback">
                            Please provide a longitude value, from -180 to 180.
                        </div>
                    </td>
                    <td data-search="{{ site.latitude }}" data-order="{{ site.latitude }}">
                        <input type="number" class="form-control form-control-sm" style="width:80px;" name="latitude" min="-90" max="90" step="0.0000000000001" pattern="##.##############" value="{{ site.latitude }}">
                        <div class="invalid-feedback">
                            Please provide a latitude value, from -90 to 90.
                        </div>
                    </td>
                    <td data-search="{{ site.gadm0 }}" data-order="{{ site.gadm0 }}">
                        <select id="gadm0_{{ site.id }}" name="gadm0" style="width:120px;" class="form-control form-control-sm">
                            <option value="{{ site.gadm0 }}" selected>{{ site.gadm0 }}</option>
                        </select>
                    </td>
                    <td data-search="{{ site.gadm1 }}" data-order="{{ site.gadm1 }}">
                        <select id="gadm1_{{ site.id }}" name="gadm1" style="width:120px;" class="form-control form-control-sm">
                            <option value="{{ site.gadm1 }}" selected>{{ site.gadm1 }}</option>
                        </select>
                    </td>
                    <td data-search="{{ site.gadm2 }}" data-order="{{ site.gadm2 }}">
                        <select id="gadm2_{{ site.id }}" name="gadm2" style="width:120px;" class="form-control form-control-sm">
                            <option value="{{ site.gadm2 }}" selected>{{ site.gadm2 }}</option>
                        </select>
                    </td>
                    <td data-search="{{ site.realm }}" data-order="{{ site.realm }}">
                        <select id="realm_{{ site.id }}" name="realm_id" style="width:120px;" class="form-control form-control-sm">
                            <option></option>
                            {% for realm in realms %}
                                <option value="{{ realm.explore_id }}" {{ realm.explore_id==site.realmId?"selected" }}>{{ realm.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td data-search="{{ site.biome }}" data-order="{{ site.biome }}">
                        <select id="biome_{{ site.id }}" name="biome_id" class="form-control form-control-sm" style="width:120px;">
                            <option value="{{ site.biomeId }}" selected>{{ site.biome }}</option>
                        </select>
                    </td>
                    <td data-search="{{ site.functionalGroup }}" data-order="{{ site.functionalGroup }}">
                        <select id="functionalGroup_{{ site.id }}" name="functional_group_id" class="form-control form-control-sm" style="width:120px;">
                            <option value="{{ site.functionalGroupId }}" selected>{{ site.functionalGroup }}</option>
                        </select>
                    </td>
                    <td data-search="{{ site.centroId }}" data-order="{{ site.centroId }}">
                        <select id="centro" name="centroid" class="form-control form-control-sm" required>
                            <option value="true" {{ site.centroId == "true" ? "selected" }}>true</option>
                            <option value="false" {{ site.centroId == "false" ? "selected" }}>false</option>
                        </select>
                    </td>
                    <td>
                        <a class="js-site-delete" href="#" data-id="{{ site.id }}" title="Delete Site">
                            <span class="fas fa-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}

    <script>
        $(function () {
            var arr ={{ explores|json_encode|raw }};
            $(document).ready(function () {
                $('#siteTable').show()
                $('#siteTable').DataTable({
                    "pageLength": 8,
                    "lengthChange": false,
                    "stateSave": true,
                    "StateDuration": -1,
                    "order": [[0, 'asc']],
                    "columnDefs": [{
                        "orderable": false,
                        "targets": [11]
                    }],
                    "bAutoWidth": false,
                    "scrollX": true,
                });
            });
            'use strict';
            $("select[name='realm_id']").on('change', function () {
                var id = $(this).attr('id').split('_')[1]
                $("#biome_" + id).empty()
                $("#biome_" + id).append("<option></option>");
                $("#functionalGroup_" + id).empty()
                $("#functionalGroup_" + id).append("<option></option>");
                var biomes = arr['pid' + $(this).val()]
                for (var key in biomes) {
                    $("#biome_" + id).append("<option value=" + biomes[key][0] + ">" + biomes[key][1] + "</option>");
                }
            });
            $("select[name='biome_id']").on('change', function () {
                var id = $(this).attr('id').split('_')[1]
                $("#functionalGroup_" + id).empty()
                $("#functionalGroup_" + id).append("<option></option>");
                var functionalGroups = arr['pid' + $(this).val()]
                for (var key in functionalGroups) {
                    $("#functionalGroup_" + id).append("<option value=" + functionalGroups[key][0] + ">" + functionalGroups[key][1] + "</option>");
                }
            });
            $("select[name='biome_id']").on('mouseenter ', function () {
                if ($(this)[0].options.length < 2) {
                    var id = $(this).attr('id').split('_')[1]
                    if ($('#realm_' + id).val() != 0) {
                        if ($(this).val() > 0) {
                            $("#biome_" + id).prepend("<option></option>")
                        }
                        var biomes = arr['pid' + $('#realm_' + id).val()]
                        for (var key in biomes) {
                            if ($(this).val() != biomes[key][0]) {
                                $("#biome_" + id).append("<option value=" + biomes[key][0] + ">" + biomes[key][1] + "</option>");
                            }
                        }
                    }
                }
            });
            $("select[name='functional_group_id']").on('mouseenter ', function () {
                if ($(this)[0].options.length < 2) {
                    var id = $(this).attr('id').split('_')[1]
                    if ($('#biome_' + id).val() != 0) {
                        if ($(this).val() > 0) {
                            $("#functionalGroup_" + id).prepend("<option></option>")
                        }
                        var functionalGroups = arr['pid' + $('#biome_' + id).val()]
                        for (var key in functionalGroups) {
                            if ($(this).val() != functionalGroups[key][0]) {
                                $("#functionalGroup_" + id).append("<option value=" + functionalGroups[key][0] + ">" + functionalGroups[key][1] + "</option>");
                            }
                        }
                    }
                }
            });
            $("#realm").on('change', function () {
                $("#biome").empty()
                $("#biome").append("<option></option>");
                $("#functionalGroup").empty()
                $("#functionalGroup").empty()
                var biomes = arr['pid' + $(this).val()]
                for (var key in biomes) {
                    $("#biome").append("<option value=" + biomes[key][0] + ">" + biomes[key][1] + "</option>");
                }
            });
            $("#biome").on('change', function () {
                $("#functionalGroup").empty()
                $("#functionalGroup").append("<option></option>");
                var functionalGroups = arr['pid' + $(this).val()]
                for (var key in functionalGroups) {
                    $("#functionalGroup").append("<option value=" + functionalGroups[key][0] + ">" + functionalGroups[key][1] + "</option>");
                }
            });

            /* GADM */
            $("select[name='gadm0']").on('change', function () {
                var id = $(this).attr('id').split('_')[1]
                $("#gadm1_" + id).empty()
                $("#gadm2_" + id).empty()
                $("#gadm1_" + id).append("<option value='' selected></option>");
                $("#gadm2_" + id).append("<option value='' selected></option>");
                $("#gadm1_" + id).attr('disabled', true)
                $("#gadm2_" + id).attr('disabled', true)
                $.ajax({
                    url: "{{ baseUrl }}/admin/siteManager/gadm/1/" + $(this).val(),
                    success: function (data) {
                        if (data == '[]') {
                            $("#gadm1_" + id).attr('disabled', true)
                            $("#gadm2_" + id).attr('disabled', true)
                        } else if (typeof (data) != 'undefined') {
                            $("#gadm1_" + id).attr('disabled', false)
                            data = JSON.parse(data)
                            for (var key in data) {
                                $("#gadm1_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                            }
                        }
                    },
                })
            });
            $("select[name='gadm1']").on('change', function () {
                var id = $(this).attr('id').split('_')[1]
                $("#gadm2_" + id).empty()
                $("#gadm2_" + id).append("<option value='' selected></option>");
                $("#gadm2_" + id).attr('disabled', true)
                $.ajax({
                    url: "{{ baseUrl }}/admin/siteManager/gadm/2/" + $(this).val(),
                    success: function (data) {
                        if (data == '[]') {
                            $("#gadm2_" + id).attr('disabled', true)
                        } else if (typeof (data) != 'undefined') {
                            $("#gadm2_" + id).attr('disabled', false)
                            data = JSON.parse(data)
                            for (var key in data) {
                                $("#gadm2_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                            }
                        }
                    },
                })
            });
            $("select[name='gadm0']").on('mouseenter ', function () {
                if ($(this)[0].options.length < 2) {
                    var id = $(this).attr('id').split('_')[1]
                    if ($('#gadm0_' + id).val() != '') {
                        $("#gadm0_" + id).prepend("<option></option>")
                    }
                    $("#gadm0_" + id).attr('disabled', true)
                    $.ajax({
                        url: "{{ baseUrl }}/admin/siteManager/gadm/0/0",
                        success: function (data) {
                            if (typeof (data) != 'undefined') {
                                $("#gadm0_" + id).attr('disabled', false)
                                data = JSON.parse(data)
                                for (var key in data) {
                                    if ($('#gadm0_' + id).val() != data[key]['name']) {
                                        $("#gadm0_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                    }
                                }
                            }
                        },
                    })
                }
            });
            $("select[name='gadm1']").on('mouseenter ', function () {
                if ($(this)[0].options.length < 2) {
                    var id = $(this).attr('id').split('_')[1]
                    if ($('#gadm0_' + id).val() != '') {
                        if ($('#gadm1_' + id).val() != '') {
                            $("#gadm1_" + id).prepend("<option></option>")
                        }
                        $("#gadm1_" + id).attr('disabled', true)
                        $.ajax({
                            url: "{{ baseUrl }}/admin/siteManager/gadm/1/" + $('#gadm0_' + id).val(),
                            success: function (data) {
                                if (data == '[]') {
                                    $("#gadm1_" + id).attr('disabled', true)
                                    $("#gadm2_" + id).attr('disabled', true)
                                } else if (typeof (data) != 'undefined') {
                                    $("#gadm1_" + id).attr('disabled', false)
                                    data = JSON.parse(data)
                                    for (var key in data) {
                                        if ($('#gadm1_' + id).val() != data[key]['name']) {
                                            $("#gadm1_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                        }
                                    }
                                }
                            },
                        })
                    }
                }
            });
            $("select[name='gadm2']").on('mouseenter ', function () {
                if ($(this)[0].options.length < 2) {
                    var id = $(this).attr('id').split('_')[1]
                    if ($('#gadm1_' + id).val() != '') {
                        if ($('#gadm2_' + id).val() != '') {
                            $("#gadm2_" + id).prepend("<option></option>")
                        }
                        $("#gadm2_" + id).attr('disabled', true)
                        $.ajax({
                            url: "{{ baseUrl }}/admin/siteManager/gadm/2/" + $('#gadm1_' + id).val(),
                            success: function (data) {
                                if (data == '[]') {
                                    $("#gadm2_" + id).attr('disabled', true)
                                } else if (typeof (data) != 'undefined') {
                                    $("#gadm2_" + id).attr('disabled', false)
                                    data = JSON.parse(data)
                                    for (var key in data) {
                                        if ($('#gadm2_' + id).val() != data[key]['name']) {
                                            $("#gadm2_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                        }
                                    }
                                }
                            },
                        })
                    }
                }
            });
            $("#gadm0").on('change', function () {
                $("#gadm1").empty()
                $("#gadm2").empty()
                $("#gadm1").append("<option value='' selected></option>");
                $("#gadm2").append("<option value='' selected></option>");
                $("#gadm1").attr('disabled', true)
                $("#gadm2").attr('disabled', true)
                $.ajax({
                    url: "{{ baseUrl }}/admin/siteManager/gadm/1/" + $(this).val(),
                    success: function (data) {
                        if (data == '[]') {
                            $("#gadm1").attr('disabled', true)
                            $("#gadm2").attr('disabled', true)
                        } else if (typeof (data) != 'undefined') {
                            $("#gadm1").attr('disabled', false)
                            data = JSON.parse(data)
                            for (var key in data) {
                                $("#gadm1").append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                            }
                        }
                    },
                })
            });
            $("#gadm1").on('change', function () {
                $("#gadm2").empty()
                $("#gadm2").append("<option value='' selected></option>");
                $("#gadm2").attr('disabled', true)
                $.ajax({
                    url: "{{ baseUrl }}/admin/siteManager/gadm/2/" + $(this).val(),
                    success: function (data) {
                        if (data == '[]') {
                            $("#gadm2").attr('disabled', true)
                        } else if (typeof (data) != 'undefined') {
                            $("#gadm2").attr('disabled', false)
                            data = JSON.parse(data)
                            for (var key in data) {
                                $("#gadm2").append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                            }
                        }
                    },
                })
            });

            $('#longitude').on('change', function () {
                if (this.checkValidity() === false) {
                    if ($('#invalidLatDiv').css('display') && $('#inv4LatDiv').css('display')) {
                        $('#inv4LatDiv').css({"width": "", "display": ""});
                    }
                    $('#invalidLongDiv').css({"width": "50%", "display": "inline-block", "position": "relative"});
                } else {
                    if ($('#invalidLatDiv').css('display') && (!$('#inv4LatDiv').css('display') || $('#inv4LatDiv').css('display') === 'none')) {
                        $('#inv4LatDiv').css({"width": "50%", "display": "inline-block"});
                    }
                    if ((!$('#invalidLatDiv').css('display') || $('#invalidLatDiv').css('display') === 'none') || !$('#inv4LatDiv').css('display')) {
                        $('#inv4LatDiv').css({"width": "", "display": ""});
                    }

                    $('#invalidLongDiv').css({"display": "", "position": ""});
                }
            });
            $('#latitude').on('change', function () {
                if (this.checkValidity() === false) {
                    $('#inv4LatDiv').css({"width": "50%", "display": "inline-block"});
                    $('#invalidLatDiv').css({
                        "width": "49%",
                        "display": "inline-block",
                        "position": "relative",
                        "right": "2"
                    });
                } else {
                    $('#invalidLatDiv').css({"display": "", "position": ""});
                    $('#inv4LatDiv').css({"width": "", "display": ""});
                }
            });
            $('#siteForm').submit(function (e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/siteManager/save', new FormData($(this)[0]), false, false, function () {
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });
            $('#projectId').change(function () {
                $("#projectForm").submit();
            });

            /* Save site list */
            $('.js-site-list').on('change', 'input, select, textarea', function () {
                if (this.checkValidity() === false) { // this.style.border = "1px solid red";
                    let tdLongDiv = $(this).parent().children("div");
                    tdLongDiv.addClass("d-block");
                } else {
                    let tdLongDiv = $(this).parent().children("div");
                    tdLongDiv.removeClass("d-block");
                    saveFormList($(this), 'api/admin/siteManager/save');
                    var table = $('#siteTable').DataTable()
                    var tr = $(this).closest("tr")
                    table.rows(tr).invalidate()
                }
            });

            $(document).on('click', '#saveButton', function () {
                $('#siteEdit').submit();
            });

            $('.js-site-delete').click(function (e) {
                if (!confirm('Are you sure you want to delete this site?')) {
                    return false;
                }

                let row = $(this).parents("tr");

                deleteRequest('{{ baseUrl }}/api/admin/siteManager/delete/' + $(this).data('id'), [], false, false, row.remove());
            });
        });
    </script>
{% endblock %}
