<div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width: 60% !important;">
        <div class="modal-content">
            <form id="siteCollectionForm">
                <div class="modal-header">
                    <h5 class="modal-title">Site
                        <strong>{{ site.name }}</strong>
                        Assignment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="user-perm" class="table table-sm table-hover" style="white-space: nowrap;">
                        <thead class="table-borderless">
                        <tr>
                            <th></th>
                            <th>#</th>
                            <th>Name</th>
                            <th>Assignment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{% if project.collections|length > 0 %}<a href="#"><i class="fa fa-plus btn-fa" data-project="{{ project.id }}"></i></a>{% endif %}</td>
                                <td>{{ project.id }}</td>
                                <td>{{ project.name }}</td>
                                <td>
                                    {% if project.collections|length > 0 %}
                                        <input class="js-project-checkbox" type="checkbox" name="project" data-project="{{ project.id }}">
                                    {% endif %}
                                    <small id="projectValid{{ project.id }}" class="text-danger projectValid"></small>
                                </td>
                            </tr>
                            {% for collection in project.collections %}
                                <tr class="data_collection data{{ project.id }}" style="font-size: .875rem;background-color: #f1f1f1">
                                    <td></td>
                                    <td>
                                        {{ collection.id }}
                                    </td>
                                    <td>{{ collection.name }}</td>
                                    <td>
                                        <input class="js-collection-checkbox" type="checkbox" name="collection" data-project-id="{{ project.id }}" data-collection-id="{{ collection.id }}" {{ collection.permission ? 'checked' }}>
                                        <input id="js-collection-hidden-{{ collection.id }}" type="hidden" value="{{ collection.permission ? 'true':'false' }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="saveButton" type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".data_collection").hide()
        $('table#user-perm tbody tr .js-collection-checkbox').each(function (i) {
            if ($('[data-project-id="' + $(this).data('project-id') + '"]').length == $('[data-project-id="' + $(this).data('project-id') + '"]:checked').length && $('[data-project-id="' + $(this).data('project-id') + '"]:checked').length > 0) {
                $('[data-project="' + $(this).data('project-id') + '"]').prop({checked: true, indeterminate: false});
            } else if ($('[data-project-id="' + $(this).data('project-id') + '"]').length != $('[data-project-id="' + $(this).data('project-id') + '"]:checked').length && $('[data-project-id="' + $(this).data('project-id') + '"]:checked').length > 0) {
                $('[data-project="' + $(this).data('project-id') + '"]').prop({checked: false, indeterminate: true});
            } else {
                $('[data-project="' + $(this).data('project-id') + '"]').prop({checked: false, indeterminate: false});
            }
        });
    });
    $(function () {
        $(".btn-fa").click(function () {
            if ($(this).hasClass('fa-plus')) {
                $(".data" + $(this).data('project')).show();
                $(this).removeClass('fa-plus')
                $(this).addClass('fa-minus')
            } else {
                $(".data" + $(this).data('project')).hide();
                $(this).removeClass('fa-minus')
                $(this).addClass('fa-plus')
            }
        })

        $('.js-project-checkbox').change(function (e) {
            $('[data-project-id="' + $(this).data('project') + '"]').prop('checked', this.checked);
        });

        $('.js-collection-checkbox').change(function (e) {
            if ($('[data-project-id="' + $(this).data('project-id') + '"]').length == $('[data-project-id="' + $(this).data('project-id') + '"]:checked').length && $('[data-project-id="' + $(this).data('project-id') + '"]:checked').length > 0) {
                $('[data-project="' + $(this).data('project-id') + '"]').prop({checked: true, indeterminate: false});
            } else if ($('[data-project-id="' + $(this).data('project-id') + '"]').length != $('[data-project-id="' + $(this).data('project-id') + '"]:checked').length && $('[data-project-id="' + $(this).data('project-id') + '"]:checked').length > 0) {
                $('[data-project="' + $(this).data('project-id') + '"]').prop({checked: false, indeterminate: true});
            } else {
                $('[data-project="' + $(this).data('project-id') + '"]').prop({checked: false, indeterminate: false});
            }
        });

        $('#siteCollectionForm').submit(function (e) {
            let data = new FormData();
            let arr = {}
            let checked = 0
            data.append('site', '{{ site_name }}')
            data.append('site_id', '{{ site_id }}')
            $('table#user-perm tbody tr').each(function (i) {
                let dataInput = $(this).children('td').find(".js-collection-checkbox");
                if (dataInput.is(':checked')) {
                    checked = 1
                }
                if (dataInput.data('collection-id') != null) {
                    if (!arr[dataInput.is(':checked')]) {
                        arr[dataInput.is(':checked')] = [];
                    }
                    arr[dataInput.is(':checked')].push(dataInput.data('collection-id'))
                }
            });
            $.each(arr, function (key, value) {
                data.append("c[" + key + "]", value);
            })
            if (checked) {

                postRequest('{{ baseUrl }}/admin/siteCollectionManager/save', data, false, true, function (response) {
                    if (response.isValid) {
                        $(".projectValid").text('')
                        let project = response.result
                        for (var i = 0; i < project.length; i++) {
                            $('#projectValid' + project[i][0]).text('Site ' + project[i][1] + ' already exists')
                        }
                        return
                    }
                    $('#modal-div').modal('hide');
                });
            } else {
                showAlert('Select at least one collection.')
            }
            e.preventDefault();
        });
    });
</script>
