{% extends 'administration/admin.html.twig' %}

{% block admin_content %}
    {% include 'administration/siteCreate.html.twig' %}
    <div class="card mb-3" id="siteList">
        <div class="card-header border-light bg-white text-right">
            <div class="form-inline">
                <form id="projectForm" class="form-inline col-8" action="{{ baseUrl }}/admin/sites">
                    <label for="projectId">Project</label>
                    <select id="projectId" name="projectId" class="form-control form-control-sm selectpicker ml-3" data-live-search="true">
                        {% for project in projects %}
                            <option value="{{ project.id }}" {{ project.id == projectId ? 'selected' }}>
                                {{ project.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="collectionId" class="ml-3">Collection</label>
                    <select id="collectionId" name="collectionId" class="form-control form-control-sm selectpicker ml-3" data-live-search="true">
                        {% if is_project_manage %}
                            <option></option>
                        {% endif %}
                        {% for collection in collections %}
                            <option value="{{ collection.id }}" {{ collection.id == collectionId ? 'selected' }}>
                                {{ collection.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                <div class="col-4 form-inline justify-content-end">
                    <label class="mr-2">Search:</label>
                    <input class="form-control-sm" id="search">
                </div>
            </div>
            <button id="assignments" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#assignments" disabled>
                <i class="fas fa-tasks"></i>
                Assignments
            </button>
            <button id="deletion" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#deletion" disabled>
                <i class="fas fa-trash"></i>
                Delete
            </button>
            <button id="siteFormButton" class="btn btn-outline-primary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#siteFormSection" aria-expanded="false" aria-controls="siteFormSection">
                <i class="fas fa-plus"></i>
                Add
            </button>
            <span>
                <button class="btn btn-outline-primary btn-sm mt-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-file-csv"></i>
                    Save all as CSV
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" type="button" id="sitesExport">Sites</a>
                    <a class="dropdown-item" type="button" id="siteCollectionsExport">Site assignments</a>
                </div>
            </span>
        </div>
        <table id="siteTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
            <tr>
                <th>
                    <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                </th>
                <th>#</th>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Topography</th>
                <th>Freshwater Depth</th>
                <th>GADM 0</th>
                <th>GADM 1</th>
                <th>GADM 2</th>
                <th>IHO</th>
                <th>Realm</th>
                <th>Biome</th>
                <th>Functional Type</th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-site-list"></tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <input id="delete_id" type="hidden">
                            <label>Are you sure you want to delete <b class="text-danger" id="delete_name"></b>?</label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <button id="js-delete-button" type="button" class="btn btn-outline-danger">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}

    <script>
        $(function () {
            var arr ={{ iucn_gets|json_encode|raw }};
            $(document).ready(function () {
                $('#siteTable').show()
                let table = $('#siteTable').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ baseUrl }}/admin/siteManager/getListByPage/{{ projectId }}/{{ collectionId }}',
                        "type": 'POST',
                        "error": function (xhr, error, thrown) {
                            if (xhr.status == 400 || xhr.status == 404 || xhr.status == 500) {
                                location.reload();
                            }
                        }
                    },
                    "dom": 'lrtip',
                    "stateSave": true,
                    "StateDuration": -1,
                    "order": [[1, 'asc']],
                    "columnDefs": [
                        {
                            "orderable": false,
                            "targets": [0],
                        },
                        {
                            "className": "dt-center",
                            "targets": [0],
                        }],
                    "bAutoWidth": false,
                    "scrollX": true,
                });
                if (table.state.loaded()) {
                    $('#search').val(table.state.loaded().search.search);
                }
                $('#search').on('input', () => {
                    table.search($('#search').val()).draw();
                });
                'use strict';
                $(document).on('click', '#sitesExport', function () {
                    if ($('#collectionId').val() == '') {
                        window.location.href = '{{ baseUrl }}/api/admin/siteManager/export/' + $('#projectId').val() + '/0'
                    } else {
                        window.location.href = '{{ baseUrl }}/api/admin/siteManager/export/' + $('#projectId').val() + '/' + $('#collectionId').val();
                    }
                });

                $("#siteFormSection").on('shown.bs.collapse', function () {
                    $("#siteList").hide();
                }).on('hidden.bs.collapse', function () {
                    $("#siteList").show();
                });

                $(document).on('click', '#siteCollectionsExport', function () {
                    if ($('#collectionId').val() == '') {
                        window.location.href = '{{ baseUrl }}/api/admin/siteCollectionManager/export/' + $('#projectId').val() + '/0'
                    } else {
                        window.location.href = '{{ baseUrl }}/api/admin/siteCollectionManager/export/' + $('#projectId').val() + '/' + $('#collectionId').val();
                    }
                });
                $('#realm').on('change', function () {
                    $("#biome").empty()
                    $("#biome").append("<option></option>");
                    $("#biome").attr('disabled', false)
                    $("#functionalType").empty()
                    $("#functionalType").append("<option></option>");
                    $("#functionalType").attr('disabled', true)
                    var biomes = arr['pid' + $(this).val()]
                    if (typeof (biomes) == 'undefined') {
                        $("#biome").attr('disabled', true)
                    }
                    for (var key in biomes) {
                        $("#biome").append("<option value=" + biomes[key][0] + ">" + biomes[key][1] + "</option>");
                    }
                });
                $("#biome").on('change', function () {
                    $("#functionalType").empty()
                    $("#functionalType").append("<option></option>");
                    $("#functionalType").attr('disabled', false)
                    var functionalTypes = arr['pid' + $(this).val()]
                    if (typeof (functionalTypes) == 'undefined') {
                        $("#functionalType").attr('disabled', true)
                    }
                    for (var key in functionalTypes) {
                        $("#functionalType").append("<option value=" + functionalTypes[key][0] + ">" + functionalTypes[key][1] + "</option>");
                    }
                });
                $("#gadm0").on('change', function () {
                    $("#gadm1").empty()
                    $("#gadm2").empty()
                    $("#gadm1").append("<option></option>");
                    $("#gadm2").append("<option></option>");
                    $("#gadm1").attr('disabled', true)
                    $("#gadm2").attr('disabled', true)
                    $.ajax({
                        url: "{{ baseUrl }}/admin/siteManager/gadm/1/" + $(this).val(),
                        success: function (data) {
                            if (data == '[]') {
                                $("#gadm1").attr('disabled', true)
                                $("#gadm2").attr('disabled', true)
                            } else if (typeof (data) != 'undefined') {
                                $("#gadm1").attr('disabled', false)
                                data = JSON.parse(data)
                                for (var key in data) {
                                    $("#gadm1").append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                }
                            }
                        },
                    })
                });
                $("#gadm1").on('change', function () {
                    $("#gadm2").empty()
                    $("#gadm2").append("<option></option>");
                    $("#gadm2").attr('disabled', true)
                    $.ajax({
                        url: "{{ baseUrl }}/admin/siteManager/gadm/2/" + $(this).val(),
                        success: function (data) {
                            if (data == '[]') {
                                $("#gadm2").attr('disabled', true)
                            } else if (typeof (data) != 'undefined') {
                                $("#gadm2").attr('disabled', false)
                                data = JSON.parse(data)
                                for (var key in data) {
                                    $("#gadm2").append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                }
                            }
                        },
                    })
                });
                $('#longitude').on('change', function () {
                    if (this.checkValidity() === false) {
                        if ($('#invalid LatDiv').css('display') && $('#inv4LatDiv').css('display')) {
                            $('#inv4LatDiv').css({"width": "", "display": ""});
                        }
                        $('#invalidLongDiv').css({"width": "50%", "display": "inline-block", "position": "relative"});
                    } else {
                        if ($('#invalidLatDiv').css('display') && (!$('#inv4LatDiv').css('display') || $('#inv4LatDiv').css('display') === 'none')) {
                            $('#inv4LatDiv').css({"width": "50%", "display": "inline-block"});
                        }
                        if ((!$('#invalidLatDiv').css('display') || $('#invalidLatDiv').css('display') === 'none') || !$('#inv4LatDiv').css('display')) {
                            $('#inv4LatDiv').css({"width": "", "display": ""});
                        }

                        $('#invalidLongDiv').css({"display": "", "position": ""});
                    }
                });
                $('#latitude').on('change', function () {
                    if (this.checkValidity() === false) {
                        $('#inv4LatDiv').css({"width": "50%", "display": "inline-block"});
                        $('#invalidLatDiv').css({
                            "width": "49%",
                            "display": "inline-block",
                            "position": "relative",
                            "right": "2"
                        });
                    } else {
                        $('#invalidLatDiv').css({"display": "", "position": ""});
                        $('#inv4LatDiv').css({"width": "", "display": ""});
                    }
                });
                $('#topography_m').on('change', function () {
                    if (this.checkValidity() === false) {
                        if ($('#invalidFreshwaterDepthDiv').css('display') && $('#inv4FreshwaterDepthDiv').css('display')) {
                            $('#inv4FreshwaterDepthDiv').css({"width": "", "display": ""});
                        }
                        $('#invalidTopographyDiv').css({"width": "50%", "display": "inline-block", "position": "relative"});
                    } else {
                        if ($('#invalidFreshwaterDepthDiv').css('display') && (!$('#inv4FreshwaterDepthDiv').css('display') || $('#inv4FreshwaterDepthDiv').css('display') === 'none')) {
                            $('#inv4FreshwaterDepthDiv').css({"width": "50%", "display": "inline-block"});
                        }
                        if ((!$('#invalidFreshwaterDepthDiv').css('display') || $('#invalidFreshwaterDepthDiv').css('display') === 'none') || !$('#inv4FreshwaterDepthDiv').css('display')) {
                            $('#inv4FreshwaterDepthDiv').css({"width": "", "display": ""});
                        }

                        $('#invalidTopographyDiv').css({"display": "", "position": ""});
                    }
                });
                $('#freshwater_depth_m').on('change', function () {
                    if (this.checkValidity() === false) {
                        $('#inv4FreshwaterDepthDiv').css({"width": "50%", "display": "inline-block"});
                        $('#invalidFreshwaterDepthDiv').css({
                            "width": "49%",
                            "display": "inline-block",
                            "position": "relative",
                            "right": "2"
                        });
                    } else {
                        $('#invalidFreshwaterDepthDiv').css({"display": "", "position": ""});
                        $('#inv4FreshwaterDepthDiv').css({"width": "", "display": ""});
                    }
                });
                //datatable
                $('#siteTable tbody').on('change', "select[name='realm_id']", function () {
                    var id = $(this).attr('id').split('_')[1]
                    $("#biome_" + id).empty()
                    $("#biome_" + id).append("<option></option>");
                    $("#biome_" + id).attr('disabled', true)
                    $("#functionalType_" + id).empty()
                    $("#functionalType_" + id).append("<option></option>");
                    $("#functionalType_" + id).attr('disabled', true)
                    var biomes = arr['pid' + $(this).val()]
                    if (typeof (biomes) != 'undefined') {
                        $("#biome_" + id).attr('disabled', false)
                    }
                    for (var key in biomes) {
                        $("#biome_" + id).append("<option value=" + biomes[key][0] + ">" + biomes[key][1] + "</option>");
                    }
                });
                $('#siteTable tbody').on('change', "select[name='biome_id']", function () {
                    var id = $(this).attr('id').split('_')[1]
                    $("#functionalType_" + id).empty()
                    $("#functionalType_" + id).append("<option></option>");
                    $("#functionalType_" + id).attr('disabled', true)
                    var functionalTypes = arr['pid' + $(this).val()]
                    if (typeof (functionalTypes) != 'undefined') {
                        $("#functionalType_" + id).attr('disabled', false)
                    }
                    for (var key in functionalTypes) {
                        $("#functionalType_" + id).append("<option value=" + functionalTypes[key][0] + ">" + functionalTypes[key][1] + "</option>");
                    }
                });
                $('#siteTable tbody').on('mouseenter', "select[name='realm_id']", function () {
                    if ($(this)[0].options.length < 2) {
                        var id = $(this).attr('id').split('_')[1]
                        if ($(this).val() > 0) {
                            $("#realm_" + id).prepend("<option></option>")
                        }
                        var realms = arr['pid0']
                        for (var key in realms) {
                            if ($(this).val() != realms[key][0]) {
                                $("#realm_" + id).append("<option value=" + realms[key][0] + ">" + realms[key][1] + "</option>");
                            }
                        }
                    }
                });
                $('#siteTable tbody').on('mouseenter ', "select[name='biome_id']", function () {
                    if ($(this)[0].options.length < 2) {
                        var id = $(this).attr('id').split('_')[1]
                        if ($('#realm_' + id).val() != 0) {
                            if ($(this).val() > 0) {
                                $("#biome_" + id).prepend("<option></option>")
                            }
                            var biomes = arr['pid' + $('#realm_' + id).val()]
                            for (var key in biomes) {
                                if ($(this).val() != biomes[key][0]) {
                                    $("#biome_" + id).append("<option value=" + biomes[key][0] + ">" + biomes[key][1] + "</option>");
                                }
                            }
                        }
                    }
                });
                $('#siteTable tbody').on('mouseenter ', "select[name='functional_type_id']", function () {
                    if ($(this)[0].options.length < 2) {
                        var id = $(this).attr('id').split('_')[1]
                        if ($('#biome_' + id).val() != 0) {
                            if ($(this).val() > 0) {
                                $("#functionalType_" + id).prepend("<option></option>")
                            }
                            var functionalTypes = arr['pid' + $('#biome_' + id).val()]
                            for (var key in functionalTypes) {
                                if ($(this).val() != functionalTypes[key][0]) {
                                    $("#functionalType_" + id).append("<option value=" + functionalTypes[key][0] + ">" + functionalTypes[key][1] + "</option>");
                                }
                            }
                        }
                    }
                });
                /* GADM */
                $('#siteTable tbody').on('change', "select[name='gadm0']", function () {
                    var id = $(this).attr('id').split('_')[1]
                    $("#gadm1_" + id).empty()
                    $("#gadm2_" + id).empty()
                    $("#gadm1_" + id).append("<option></option>");
                    $("#gadm2_" + id).append("<option></option>");
                    $("#gadm1_" + id).attr('disabled', true)
                    $("#gadm2_" + id).attr('disabled', true)
                    $.ajax({
                        url: "{{ baseUrl }}/admin/siteManager/gadm/1/" + $(this).val(),
                        success: function (data) {
                            if (data == '[]') {
                                $("#gadm1_" + id).attr('disabled', true)
                                $("#gadm2_" + id).attr('disabled', true)
                            } else if (typeof (data) != 'undefined') {
                                $("#gadm1_" + id).attr('disabled', false)
                                data = JSON.parse(data)
                                for (var key in data) {
                                    $("#gadm1_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                }
                            }
                        },
                    })
                });
                $('#siteTable tbody').on('change', "select[name='gadm1']", function () {
                    var id = $(this).attr('id').split('_')[1]
                    $("#gadm2_" + id).empty()
                    $("#gadm2_" + id).append("<option></option>");
                    $("#gadm2_" + id).attr('disabled', true)
                    $.ajax({
                        url: "{{ baseUrl }}/admin/siteManager/gadm/2/" + $(this).val(),
                        success: function (data) {
                            if (data == '[]') {
                                $("#gadm2_" + id).attr('disabled', true)
                            } else if (typeof (data) != 'undefined') {
                                $("#gadm2_" + id).attr('disabled', false)
                                data = JSON.parse(data)
                                for (var key in data) {
                                    $("#gadm2_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                }
                            }
                        },
                    })
                });
                $('#siteTable tbody').on('mouseenter ', "select[name='gadm0']", function () {
                    if ($(this)[0].options.length < 2) {
                        var id = $(this).attr('id').split('_')[1]
                        if ($('#gadm0_' + id).val() != '') {
                            $("#gadm0_" + id).prepend("<option></option>")
                        }
                        $.ajax({
                            url: "{{ baseUrl }}/admin/siteManager/gadm/0/0",
                            success: function (data) {
                                if (typeof (data) != 'undefined') {
                                    data = JSON.parse(data)
                                    for (var key in data) {
                                        if ($('#gadm0_' + id).val() != data[key]['name']) {
                                            $("#gadm0_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                        }
                                    }
                                }
                            },
                        })
                    }
                });
                $('#siteTable tbody').on('mouseenter ', "select[name='gadm1']", function () {
                    if ($(this)[0].options.length < 2) {
                        var id = $(this).attr('id').split('_')[1]
                        if ($('#gadm0_' + id).val() != '') {
                            if ($('#gadm1_' + id).val() != '') {
                                $("#gadm1_" + id).prepend("<option></option>")
                            }
                            $("#gadm1_" + id).attr('disabled', true)
                            $.ajax({
                                url: "{{ baseUrl }}/admin/siteManager/gadm/1/" + $('#gadm0_' + id).val(),
                                success: function (data) {
                                    if (typeof (data) != 'undefined' && data != '[]') {
                                        $("#gadm1_" + id).attr('disabled', false)
                                        data = JSON.parse(data)
                                        for (var key in data) {
                                            if ($('#gadm1_' + id).val() != data[key]['name']) {
                                                $("#gadm1_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                            }
                                        }
                                    }
                                },
                            })
                        }
                    }
                });
                $('#siteTable tbody').on('mouseenter ', "select[name='gadm2']", function () {
                    if ($(this)[0].options.length < 2) {
                        var id = $(this).attr('id').split('_')[1]
                        if ($('#gadm1_' + id).val() != '') {
                            if ($('#gadm2_' + id).val() != '') {
                                $("#gadm2_" + id).prepend("<option></option>")
                            }
                            $("#gadm2_" + id).attr('disabled', true)
                            $.ajax({
                                url: "{{ baseUrl }}/admin/siteManager/gadm/2/" + $('#gadm1_' + id).val(),
                                success: function (data) {
                                    if (typeof (data) != 'undefined' && data != '[]') {
                                        $("#gadm2_" + id).attr('disabled', false)
                                        data = JSON.parse(data)
                                        for (var key in data) {
                                            if ($('#gadm2_' + id).val() != data[key]['name']) {
                                                $("#gadm2_" + id).append("<option value=" + data[key]['name'] + ">" + data[key]['name'] + "</option>");
                                            }
                                        }
                                    }
                                },
                            })
                        }
                    }
                });

                $('#siteForm').submit(function (e) {
                    e.preventDefault();
                    $('#areaValid').text('')
                    $('#siteValid').text('')
                    if (this.checkValidity() === false) {
                        if (!($('#longitude').val() != '' && $('#latitude').val() != '') && $('#gadm0').val() == '') {
                            $('#areaValid').text('Please provide area or coordinates.')
                        }
                        e.stopPropagation();
                    } else {
                        if (!($('#longitude').val() != '' && $('#latitude').val() != '') && $('#gadm0').val() == '') {
                            $('#areaValid').text('Please provide area or coordinates.')
                            return
                        }
                        postRequest('{{ baseUrl }}/api/admin/siteManager/save', new FormData($(this)[0]), false, false, function (response) {
                            if (response.isValid) {
                                $('#siteValid').text(response.message)
                                return
                            }
                            location.reload();
                        });
                    }
                    this.classList.add('was-validated');
                });
                $('#projectId').change(function () {
                    $('#collectionId').val("")
                    $("#projectForm").submit();
                });
                $('#collectionId').change(function () {
                    $("#projectForm").submit();
                });

                $("#modal-div").keydown(function (e) {
                    if (e.keyCode == 13) {
                        $("#modal-div").modal('hide');
                        event.preventDefault();
                    }
                });

                $('button[name="table-btn"][data-target="#deletion"]').click(function (e) {
                    let name = [];
                    $('.js-checkbox:checked').each(function () {
                        name.push($(this).data('name'))
                    });
                    name = name.join(', ')
                    $('#delete_name').html(name)
                    $("#modal-delete").modal('show');
                })

                /* Save site list */
                $('.js-site-list').on('change', 'input, select, textarea', function () {
                    if ($(this)[0].className == 'js-checkbox') {
                        return
                    }
                    var id = $(this).parent().parent().find('[name="name"]').attr('id');
                    $('#siteValid' + id).text('')
                    $('#areaValid' + id).text('')
                    if (this.checkValidity() === false) { // this.style.border = "1px solid red";
                        let tdLongDiv = $(this).parent().children("div");
                        tdLongDiv.addClass("d-block");
                        if (!($('#longitude' + id).val() != '' && $('#latitude' + id).val() != '') && $('#gadm0_' + id).val() == '') {
                            $('#areaValid' + id).text('Please provide area or coordinates.')
                        }
                    } else {
                        let tdLongDiv = $(this).parent().children("div");
                        tdLongDiv.removeClass("d-block");
                        if (!($('#longitude' + id).val() != '' && $('#latitude' + id).val() != '') && $('#gadm0_' + id).val() == '') {
                            $('#areaValid' + id).text('Please provide area or coordinates.')
                            return
                        }
                        saveFormList($(this), 'api/admin/siteManager/save', function (response) {
                            if (response.isValid) {
                                $('#siteValid' + id).text(response.message)
                            }
                        });
                    }
                });

                $('button[name="table-btn"][data-target="#assignments"]').click(function (e) {
                    let id = [];
                    let name = [];
                    $('.js-checkbox:checked').each(function () {
                        id.push($(this).data('id'));
                        name.push($(this).data('name'));
                    });
                    let data = {'id': id, 'name': name};
                    requestModal("{{ baseUrl }}/admin/siteCollections", data);
                    e.preventDefault();
                })

                $('#js-delete-button').click(function (e) {
                    let id = [];
                    $('.js-checkbox:checked').each(function () {
                        id.push($(this).data('id'));
                    });
                    let data = {'id': id};
                    postRequest('{{ baseUrl }}/api/admin/siteManager/delete', data, false, false, function () {
                        location.reload();
                    });
                })
            });
        });
    </script>
{% endblock %}
