{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

<div class="card mb-3" id="soundTypesList">
    <div class="card-header border-light bg-white text-right">
        <div class="form-inline">
            <div class="col-8"></div>
            <div class="col-4 form-inline justify-content-end">
                <label class="mr-2">Search:</label>
                <input class="form-control-sm" id="search">
            </div>
        </div>
        <form id="soundTypesCSVForm" method="POST" class="collapse">
            <input type="file" name="soundTypesCSVFile" id="soundTypesCSVFile" accept="text/csv" style="display: none">
        </form>
        <button
            id="deletion"
            name="table-btn"
            class="btn btn-outline-secondary btn-sm mt-2"
            type="button"
            data-target="#deletion"
            disabled
        >
            <i class="fas fa-trash"></i>
            Delete
        </button>
        <span class="dropdown">
            <button class="btn btn-outline-primary btn-sm mt-2 dropdown-toggle" id="addSoundType" data-toggle="dropdown" aria-expanded="false">
                <span class="fas fa-plus"></span>
                Add
            </button>
            <div class="dropdown-menu" aria-labelledby="addSoundType">
                <a class="dropdown-item" type="button" id="soundTypeFormButton"><i class="fas fa-plus"></i> Add Sound Type</a>
                <a class="dropdown-item" type="button" id="soundTypesCSVButton"><i class="fa-solid fa-file-arrow-up"></i> Upload Sound Types CSV</a>
                <a class="dropdown-item" type="button" id="soundTypesInstructions"><i class="fa-solid fa-circle-info"></i> CSV Instructions</a>
            </div>
        </span>
        <button id="soundTypesExport" class="btn btn-outline-primary btn-sm mt-2">
            <i class="fa fa-file-csv"></i>
            Save all as CSV
        </button>
    </div>
    <table id="soundTypesTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
                <tr style="font-size: .875rem;">
                    <th>
                        <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Taxon Class</th>
                    <th scope="col">Taxon Order</th>
                </tr>
            </thead>
            <tbody class="form-control-sm js-soundTypes-list">
                {% for soundType in soundTypes %}
                    <tr>
                        <td>
                            <input type="checkbox" class="js-checkbox" data-id="{{ soundType.sound_type_id }}">
                        </td>
                        <th scope='row'>
                            <input type="hidden" name="itemID" value="{{ soundType.sound_type_id }}">
                            {{ soundType.sound_type_id }}
                        </th>
                        <td data-order="{{ soundType.name }}" data-search="{{ soundType.name }}">
                            <input type='text' class="form-control form-control-sm" name="name" value="{{ soundType.name }}" maxlength="100" required>
                        </td>
                        <td data-order="{{ soundType.taxon_class }}" data-search="{{ soundType.taxon_class }}">
                            <input type='text' class="form-control form-control-sm" name="taxon_class" value="{{ soundType.taxon_class }}" maxlength="20" required>
                        </td>
                        <td data-order="{{ soundType.taxon_order }}" data-search="{{ soundType.taxon_order }}">
                            <input type='text' class="form-control form-control-sm" name="taxon_order" value="{{ soundType.taxon_order }}" maxlength="20" required>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Warning</h5>
                <button class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ml-3">
                <div>
                    <div class="form-group">
                        <label>Are you sure you want to delete <b class="text-danger"><span id="delete_count"></span> sound type(s)</b>: <b class="text-danger" id="delete_name"></b>? This action cannot be undone.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                    Close
                </button>
                <button id="js-delete-button" class="btn btn-outline-danger">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-soundTypes-instructions" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CSV Upload Instructions</h5>
                <button class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ml-3">
                <div>
                    <div class="form-group">
                        <label>Sound type data can be uploaded with a CSV containing the following columns:<br><br>
                            <strong>sound_type_id</strong> (required, integer) - Unique identifier for the sound type<br>
                            <strong>name</strong> (required, max 100 characters) - Name of the sound type<br>
                            <strong>taxon_class</strong> (required, max 20 characters) - Taxonomic class<br>
                            <strong>taxon_order</strong> (required, max 20 characters) - Taxonomic order<br><br>
                            You can download a <a class="text-info" id="soundTypesCSVTemplate" style="cursor:pointer">template CSV file</a> to fill in your data.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(function(){
            'use strict';

            // Show and initialize DataTable
            $('#soundTypesTable').show();
            var table = $('#soundTypesTable').DataTable({
                "dom": 'lrtip',
                "scrollX": true,
                "lengthMenu": [ [10, 25, 50, 100], [10, 25, 50, 100] ],
                "pageLength": 10,
                "ordering": true,
                "bAutoWidth": false,
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [0]
                    },
                    {
                        "className": "dt-center",
                        "targets": [0]
                    }
                ]
            });
            
            // Custom search handler
            if (table.state.loaded()) {
                $('#search').val(table.state.loaded().search.search);
            }
            $('#search').on('input', () => {
                table.search($('#search').val()).draw();
            });

            // Checkbox handlers
            $('.js-all-checkbox').change(function () {
                $('.js-checkbox').prop('checked', this.checked);
                $('button[name="table-btn"]').prop('disabled', !this.checked);
            });

            $(document).on('change', '.js-checkbox', function () {
                if (!$(this).is(':checked')) {
                    $('.js-all-checkbox').prop('checked', false);
                }
                $('button[name="table-btn"]').prop('disabled', ($('.js-checkbox:checked').length === 0));
            });

            /* Add new sound type row */
            $('#soundTypeFormButton').click(function (e) {
                const newRow = `
                    <tr>
                        <td><input type="checkbox" class="js-checkbox" data-id=""></td>
                        <th scope='row'><input type="hidden" name="itemID" value="">New</th>
                        <td><input type='text' class="form-control form-control-sm" name="name" value="" maxlength="100" required></td>
                        <td><input type='text' class="form-control form-control-sm" name="taxon_class" value="" maxlength="20" required></td>
                        <td><input type='text' class="form-control form-control-sm" name="taxon_order" value="" maxlength="20" required></td>
                    </tr>
                `;
                $('.js-soundTypes-list').prepend(newRow);
                table.row.add($(newRow)).draw(false);
            });

            /* Save on input change */
            $('.js-soundTypes-list').on('change', 'input[type="text"], input[type="number"]', function () {
                if ($(this).hasClass('js-checkbox')) {
                    return;
                }
                
                const row = $(this).closest('tr');
                const formData = {};
                row.find('input[name]').each(function() {
                    formData[$(this).attr('name')] = $(this).val();
                });
                
                postRequest('{{ baseUrl }}/api/admin/soundTypeMgr/save', formData, false, false, function (response) {
                    if (response.errorCode !== 0) {
                        showAlert(response.message);
                    } else {
                        // Reload to get the new ID for new rows
                        if (!formData.itemID) {
                            location.reload();
                        }
                    }
                });
            });

            /* Delete sound types */
            $('#deletion').click(function (e) {
                let name = [];
                $('.js-checkbox:checked').each(function () {
                    const typeName = $(this).parent().parent().find('input[name="name"]').val();
                    name.push(typeName || 'Unknown');
                });
                if (name.length === 0) {
                    return;
                }
                $('#delete_name').html(name.join(', '));
                $('#delete_count').html(name.length);
                $("#modal-delete").modal('show');
            });

            $('#js-delete-button').click(function (e) {
                let id = [];
                $('.js-checkbox:checked').each(function () {
                    id.push($(this).data('id'));
                });
                let data = {'id': id};
                postRequest('{{ baseUrl }}/api/admin/soundTypeMgr/delete', data, true, false, function () {
                    table.state.clear();
                    location.reload();
                });
            });

            /* Export sound types */
            $('#soundTypesExport').click(function () {
                window.location.href = '{{ baseUrl }}/api/admin/soundTypeMgr/export';
            });

            /* CSV Upload */
            $('#soundTypesCSVButton').click(function () {
                $('#soundTypesCSVFile').click();
            });

            $('#soundTypesCSVFile').change(function () {
                if (this.files.length > 0) {
                    let formData = new FormData($('#soundTypesCSVForm')[0]);
                    postRequest('{{ baseUrl }}/api/admin/soundTypeMgr/uploadCSV', formData, false, false, function (response) {
                        alert(response.message);
                        if (response.errorCode === 0) {
                            location.reload();
                        }
                    });
                }
            });

            /* CSV Instructions */
            $('#soundTypesInstructions').click(function () {
                $('#modal-soundTypes-instructions').modal('show');
            });

            /* Download CSV Template */
            $('#soundTypesCSVTemplate').click(function () {
                const csvContent = "sound_type_id,name,taxon_class,taxon_order\n" +
                    "1,Song,Aves,Passeriformes\n";
                const blob = new Blob([csvContent], { type: 'text/csv' });
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.setAttribute('hidden', '');
                a.setAttribute('href', url);
                a.setAttribute('download', 'sound_types_template.csv');
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
        });
    </script>
{% endblock %}
