{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

{% include 'administration/speciesForm.html.twig' %}

<div class="card mb-3" id="speciesList">
    <div class="card-header border-light bg-white text-right">
        <div class="form-inline">
            <div class="col-8"></div>
            <div class="col-4 form-inline justify-content-end">
                <label class="mr-2">Search:</label>
                <input class="form-control-sm" id="search">
            </div>
        </div>
        <form id="speciesCSVForm" method="POST" class="collapse">
            <input type="file" name="speciesCSVFile" id="speciesCSVFile" accept="text/csv" style="display: none">
        </form>
        <button
            id="deletion"
            name="table-btn"
            class="btn btn-outline-secondary btn-sm mt-2"
            type="button"
            data-target="#deletion"
            disabled
        >
            <i class="fas fa-trash"></i>
            Delete
        </button>
        <span class="dropdown">
            <button class="btn btn-outline-primary btn-sm mt-2 dropdown-toggle" id="addSpecies" data-toggle="dropdown" aria-expanded="false">
                <span class="fas fa-plus"></span>
                Add
            </button>
            <div class="dropdown-menu" aria-labelledby="addSpecies">
                <a class="dropdown-item" type="button" id="speciesFormButton" data-toggle="collapse" data-target="#speciesFormSection" aria-expanded="false" aria-controls="speciesFormSection"><i class="fas fa-plus"></i> Add Species</a>
                <a class="dropdown-item" type="button" id="speciesCSVButton"><i class="fa-solid fa-file-arrow-up"></i> Upload Species CSV</a>
                <a class="dropdown-item" type="button" id="speciesInstructions"><i class="fa-solid fa-circle-info"></i> CSV Instructions</a>
            </div>
        </span>
        <button id="speciesExport" class="btn btn-outline-primary btn-sm mt-2">
            <i class="fa fa-file-csv"></i>
            Save all as CSV
        </button>
    </div>
    <table id="speciesTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
                <tr style="font-size: .875rem;">
                    <th>
                        <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Binomial</th>
                    <th scope="col">Common Name</th>
                    <th scope="col">Genus</th>
                    <th scope="col">Family</th>
                    <th scope="col">Order</th>
                    <th scope="col">Class</th>
                    <th scope="col">Level</th>
                    <th scope="col">Source</th>
                </tr>
            </thead>
            <tbody class="form-control-sm js-species-list">
                {% for sp in species %}
                    <tr>
                        <td>
                            <input type="checkbox" class="js-checkbox" data-id="{{ sp.species_id }}">
                        </td>
                        <th scope='row'>
                            <input type="hidden" name="itemID" value="{{ sp.species_id }}">
                            {{ sp.species_id }}
                        </th>
                        <td data-order="{{ sp.binomial }}" data-search="{{ sp.binomial }}">
                            <input type='text' class="form-control form-control-sm" name="binomial" value="{{ sp.binomial }}" maxlength="100" required>
                        </td>
                        <td data-order="{{ sp.common_name }}" data-search="{{ sp.common_name }}">
                            <input type='text' class="form-control form-control-sm" name="common_name" value="{{ sp.common_name }}" maxlength="200" required>
                        </td>
                        <td data-order="{{ sp.genus }}" data-search="{{ sp.genus }}">
                            <input type='text' class="form-control form-control-sm" name="genus" value="{{ sp.genus }}" maxlength="100">
                        </td>
                        <td data-order="{{ sp.family }}" data-search="{{ sp.family }}">
                            <input type='text' class="form-control form-control-sm" name="family" value="{{ sp.family }}" maxlength="100">
                        </td>
                        <td data-order="{{ sp.taxon_order }}" data-search="{{ sp.taxon_order }}">
                            <input type='text' class="form-control form-control-sm" name="taxon_order" value="{{ sp.taxon_order }}" maxlength="100">
                        </td>
                        <td data-order="{{ sp.class }}" data-search="{{ sp.class }}">
                            <input type='text' class="form-control form-control-sm" name="class" value="{{ sp.class }}" maxlength="100">
                        </td>
                        <td data-order="{{ sp.level }}" data-search="{{ sp.level }}">
                            <input type='number' class="form-control form-control-sm" name="level" value="{{ sp.level }}" min="0" max="100">
                        </td>
                        <td data-order="{{ sp.source }}" data-search="{{ sp.source }}">
                            <input type='text' class="form-control form-control-sm" name="source" value="{{ sp.source }}" maxlength="50">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Warning</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ml-3">
                <div>
                    <div class="form-group">
                        <label>Are you sure you want to delete <b class="text-danger"><span id="delete_count"></span> species</b>: <b class="text-danger" id="delete_name"></b>? This action cannot be undone.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                    Close
                </button>
                <button id="js-delete-button" class="btn btn-outline-danger">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-species-instructions" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CSV Upload Instructions</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ml-3">
                <div>
                    <div class="form-group">
                        <label>Species data can be uploaded with a CSV containing the following columns:<br><br>
                            <strong>binomial</strong> (required, max 100 characters) - Scientific name in format "Genus species"<br>
                            <strong>common_name</strong> (required, max 200 characters) - Common name of the species<br>
                            <strong>genus</strong> (optional, max 100 characters) - Genus name<br>
                            <strong>family</strong> (optional, max 100 characters) - Family name<br>
                            <strong>taxon_order</strong> (optional, max 100 characters) - Taxonomic order<br>
                            <strong>class</strong> (optional, max 100 characters) - Taxonomic class<br>
                            <strong>level</strong> (required, 0 or 1) - 1 if the taxon is defined at the species level, 0 otherwise<br>
                            <strong>source</strong> (required, max 50 characters) - Data source identifier<br><br>
                            You can download a <a class="text-info" id="speciesCSVTemplate" style="cursor:pointer">template CSV file</a> to fill in your data.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(function(){
            'use strict';

            // Show and initialize DataTable
            $('#speciesTable').show();
            var table = $('#speciesTable').DataTable({
                "dom": 'lrtip',
                "scrollX": true,
                "lengthMenu": [ [10, 25, 50, 100], [10, 25, 50, 100] ],
                "pageLength": 10,
                "ordering": true,
                "bAutoWidth": false,
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [0]
                    }
                ]
            });
            
            // Custom search handler
            if (table.state.loaded()) {
                $('#search').val(table.state.loaded().search.search);
            }
            $('#search').on('input', () => {
                table.search($('#search').val()).draw();
            });
            
            // Clear all checkboxes on page load
            $('.js-checkbox').prop('checked', false);
            $('.js-all-checkbox').prop('checked', false);

            /* Save species list */
            $('.js-species-list').on('change', 'input, select, textarea', function() {
                saveFormList($(this), 'api/admin/speciesMgr/save');
            });

            $("#speciesFormSection").on('shown.bs.collapse', function () {
                $("#speciesList").hide();
            }).on('hidden.bs.collapse', function () {
                $("#speciesList").show();
            });

            $('#speciesForm').submit(function(e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/speciesMgr/save', new FormData(this), false, false, function() {
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });

            /* Delete species */
            $('#deletion').click(function (e) {
                let name = [];
                $('.js-checkbox:checked').each(function () {
                    name.push($(this).parent().parent().find('input[name="binomial"]').val());
                });
                if (name.length === 0) {
                    return;
                }
                $('#delete_name').html(name.join(', '));
                $('#delete_count').html(name.length);
                $("#modal-delete").modal('show');
            });

            $('#js-delete-button').click(function (e) {
                let id = [];
                $('.js-checkbox:checked').each(function () {
                    id.push($(this).data('id'));
                });
                let data = {'id': id};
                postRequest('{{ baseUrl }}/api/admin/speciesMgr/delete', data, true, false, function () {
                    table.state.clear();
                    location.reload();
                });
            });

            /* Export species */
            $('#speciesExport').click(function () {
                window.location.href = '{{ baseUrl }}/api/admin/speciesMgr/export';
            });

            /* CSV Upload */
            $('#speciesCSVButton').click(function () {
                $('#speciesCSVFile').click();
            });

            $('#speciesCSVFile').change(function () {
                if (this.files.length > 0) {
                    let formData = new FormData($('#speciesCSVForm')[0]);
                    postRequest('{{ baseUrl }}/api/admin/speciesMgr/uploadCSV', formData, false, false, function (response) {
                        alert(response.message);
                        if (response.error_code === 0) {
                            location.reload();
                        }
                    });
                }
            });

            /* CSV Instructions */
            $('#speciesInstructions').click(function () {
                $('#modal-species-instructions').modal('show');
            });

            /* Download CSV Template */
            $('#speciesCSVTemplate').click(function () {
                const csvContent = "binomial,common_name,genus,family,taxon_order,class,level,source\n" +
                    "Passer domesticus,House Sparrow,Passer,Passeridae,Passeriformes,Aves,1,example\n";
                const blob = new Blob([csvContent], { type: 'text/csv' });
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.setAttribute('hidden', '');
                a.setAttribute('href', url);
                a.setAttribute('download', 'species_template.csv');
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
        });
    </script>
{% endblock %}
