{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

{% include 'administration/speciesForm.html.twig' %}

<div class="card mb-3" id="speciesList">
    <div class="card-header border-light bg-white text-right">
        <button
            id="deletion"
            name="table-btn"
            class="btn btn-outline-secondary btn-sm mt-2"
            type="button"
            data-target="#deletion"
            disabled
        >
            <i class="fas fa-trash"></i>
            Delete
        </button>
        <button
            id="speciesFormButton"
            class="btn btn-outline-primary btn-sm mt-2"
            type="button"
            data-toggle="collapse"
            data-target="#speciesFormSection"
            aria-expanded="false"
            aria-controls="speciesFormSection"
        >
            <i class="fas fa-plus"></i> Add
        </button>
    </div>
    <div class="card-body">
        <table id="speciesTable" style="white-space: nowrap;">
            <thead class="table-borderless">
                <tr style="font-size: .875rem;">
                    <th>
                        <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Binomial</th>
                    <th scope="col">Common Name</th>
                    <th scope="col">Genus</th>
                    <th scope="col">Family</th>
                    <th scope="col">Order</th>
                    <th scope="col">Class</th>
                    <th scope="col">Level</th>
                    <th scope="col">Source</th>
                </tr>
            </thead>
            <tbody class="form-control-sm js-species-list">
                {% for sp in species %}
                    <tr>
                        <td>
                            <input type="checkbox" class="js-checkbox" data-id="{{ sp.species_id }}">
                        </td>
                        <th scope='row'>
                            <input type="hidden" name="itemID" value="{{ sp.species_id }}">
                            {{ sp.species_id }}
                        </th>
                        <td>
                            <input type='text' class="form-control form-control-sm" name="binomial" value="{{ sp.binomial }}" maxlength="100" required>
                        </td>
                        <td>
                            <input type='text' class="form-control form-control-sm" name="common_name" value="{{ sp.common_name }}" maxlength="200" required>
                        </td>
                        <td>
                            <input type='text' class="form-control form-control-sm" name="genus" value="{{ sp.genus }}" maxlength="100">
                        </td>
                        <td>
                            <input type='text' class="form-control form-control-sm" name="family" value="{{ sp.family }}" maxlength="100">
                        </td>
                        <td>
                            <input type='text' class="form-control form-control-sm" name="taxon_order" value="{{ sp.taxon_order }}" maxlength="100">
                        </td>
                        <td>
                            <input type='text' class="form-control form-control-sm" name="class" value="{{ sp.class }}" maxlength="100">
                        </td>
                        <td>
                            <input type='number' class="form-control form-control-sm" name="level" value="{{ sp.level }}" min="0" max="100">
                        </td>
                        <td>
                            <input type='text' class="form-control form-control-sm" name="source" value="{{ sp.source }}" maxlength="50">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="pagination">
    <ul class="pagination justify-content-center mt-3">
        {% for page in range(1, pages) %}
            <li class="page-item {{ currentPage == page ? 'active' }}">
                <a class="page-link" href="{{ baseUrl }}/admin/species/{{ page }}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(function(){
            'use strict';

            // Initialize DataTable with scrollX and lengthMenu
            var table = $('#speciesTable').DataTable({
                "scrollX": true,
                "lengthMenu": [ [10, 25, 50, 100], [10, 25, 50, 100] ],
                "pageLength": 10,
                "ordering": false,
                "bAutoWidth": false
            });
            table.draw();

            /* Save species list */
            $('.js-species-list').on('change', 'input, select, textarea', function() {
                saveFormList($(this), 'api/admin/speciesMgr/save');
            });

            $("#speciesFormSection").on('shown.bs.collapse', function () {
                $("#speciesList").hide();
            }).on('hidden.bs.collapse', function () {
                $("#speciesList").show();
            });

            $('#speciesForm').submit(function(e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/speciesMgr/save', new FormData(this), false, false, function() {
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });

            /* Delete species */
            $('#deletion').click(function (e) {
                if (confirm('Are you sure you want to delete the selected species? This action cannot be undone.')) {
                    let id = [];
                    $('.js-checkbox:checked').each(function () {
                        id.push($(this).data('id'));
                    });
                    let data = {'id': id};
                    deleteRequest('{{ baseUrl }}/api/admin/speciesMgr/delete', data, true, false, function () {
                        location.reload();
                    });
                }
            });
        });
    </script>
{% endblock %}
