{% extends 'administration/admin.html.twig' %}

{% block admin_content %}
    <div class="card mb-3" id="tagsList">
        <div class="card-header border-light bg-white text-right">
            <button id="tagsExport" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#tagsExport" aria-expanded="false" aria-controls="tagsExport">
                <i class="fa fa-download"></i>
                Tag Export
            </button>
        </div>
        <table id="tagsTable" style="display:none">
            <thead class="form-control-sm table-borderless">
            <tr>
                <th>#</th>
                <th>Species</th>
                <th>Recording</th>
                <th>User</th>
                <th>Time Start</th>
                <th>Time End</th>
                <th>Min Freq</th>
                <th>Max Freq</th>
                <th>Uncertain</th>
                <th>Call Distance</th>
                <th>Distance Not Estimable</th>
                <th>Number of Individuals</th>
                <th>Type</th>
                <th>Reference Call</th>
                <th>Comments</th>
                <th>Creation Date (UTC)</th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-tag-list">
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.Id }}</td>
                    <td>{{ tag.speciesName }}</td>
                    <td>{{ tag.recordingName }}</td>
                    <td>{{ tag.userName }}</td>
                    <td>{{ tag.minTime }}</td>
                    <td>{{ tag.maxTime }}</td>
                    <td>{{ tag.minFrequency }}</td>
                    <td>{{ tag.maxFrequency }}</td>
                    <td class="text-center" data-search="{{ tag.uncertain }}" data-order="{{ tag.uncertain }}">
                        <input name="uncertain" type="checkbox" {{ tag.uncertain ? 'checked' }} disabled>
                    </td>
                    <td>{{ tag.callDistance }}</td>
                    <td class="text-center" data-search="{{ tag.distanceNotEstimable }}" data-order="{{ tag.distanceNotEstimable }}">
                        <input name="distanceNotEstimable" type="checkbox" {{ tag.distanceNotEstimable ? 'checked' }} disabled>
                    </td>
                    <td>{{ tag.numberIndividuals }}</td>
                    <td>{{ tag.type }}</td>
                    <td class="text-center" data-search="{{ tag.referenceCall }}" data-order="{{ tag.referenceCall }}">
                        <input name="referenceCall" type="checkbox" {{ tag.referenceCall ? 'checked' }} disabled>
                    </td>
                    <td>{{ tag.comments }}</td>
                    <td>{{ tag.creationDate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block header %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#tagsTable').DataTable({
                "pageLength": 8,
                "lengthChange": false,
                "stateSave": true,
                "StateDuration": -1,
                "order": [[0, 'asc']],
            });
            $('#tagsTable').show()
        });
        $(function () {
            'use strict';
            $(document).on('click', '#tagsExport', function () {
                window.location.href = '{{ baseUrl }}/api/admin/tagMgr/export';
            });
        });
    </script>
{% endblock %}
