<form id="uploadForm" method="POST" class="collapse">

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div id="file-uploader" class="file-uploader">You browser doesn't support native upload.</div>
                </div>
                <div class="col-md-5 mt-2">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-form-label-sm" for="date">Date (local)</label>
                            <input id="date" class="form-control form-control-sm  js-file-field" name="date" type="date" required>
                            <input type="hidden" name="colId" value="{{ colId }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label-sm" for="time">Time (local)</label>
                            <input id="time" class="form-control form-control-sm js-file-field" name="time" type="time" min="00:00:00" max="23:59:59" step="1" required>
                            <div class="d-flex justify-content-end">
                                <div>
                                    <input id="from-file" class="form-check-input" name="dateFromFile" type="checkbox">
                                    <label class="label" for="from-file"><small>Date and time from filename</small></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="recorder" class="col-form-label-sm">Recorder</label>
                            <select id="recorder" name="recorder" class="form-control form-control-sm" required>
                                <option selected disabled></option>
                                {% for recorder in recorders %}
                                    <option value="{{ recorder.recorder_id }}" data-microphone="{{ recorder.microphone }}">{{ recorder.model }}{% if recorder.brand!='' or recorder.brand is not null %} | {{ recorder.brand }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="microphone" class="col-form-label-sm">Microphone</label>
                            <select id="microphone" name="microphone" class="form-control form-control-sm" disabled required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="site" class="col-form-label-sm">Site
                            </label>
                            <select id="site" name="site" class="form-control form-control-sm">
                                <option value='null'></option>
                                {% for site in sites %}
                                    <option value="{{ site.site_id }}">{{ site.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="doi" class="col-form-label-sm">DOI (optional)</label>
                            <input id="doi" type="text" name="doi" class="form-control form-control-sm"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="license" class="col-form-label-sm">License
                            </label>
                            <select id="license" name="license" class="form-control form-control-sm">
                                {% for licensed in license %}
                                    <option value="{{ licensed.license_id }}">{{ licensed.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="medium" class="col-form-label-sm">Medium</label>
                            <select id="medium" name="medium" class="form-control form-control-sm">
                                <option>Air</option>
                                <option>Water</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="type" class="col-form-label-sm">Recording Type</label>
                            <select id="type" name="type" class="form-control form-control-sm">
                                <option value="Passive">Passive (recording from automated sound recorder, no influence on animals, typically omnidirectional microphone)</option>
                                <option value="Focal">Focal (recording from active search for animals, e.g. with directional microphone during point counts)</option>
                                <option value="Enclosure">Enclosure (recording from captured animals, movement constrained)</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recording_gain" class="col-form-label-sm">Recording Gain (dB)</label>
                            <input id="recording_gain" type="number" name="recording_gain" class="form-control form-control-sm" min="0" step="1" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="prefix" class="col-form-label-sm">Sound Name Prefix <i class="fa fa-info-circle" title="Name follows file name" data-toggle="tooltip"></i></label>
                            <input id="prefix" type="text" name="prefix" class="form-control form-control-sm">
                            <input id="freq" type="hidden" name="freq" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent">
                <div class="form-group text-right mt-2">
                    <button id="closeButton" type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#uploadForm">
                        <i class="fa-solid fa-close"></i>
                        Close
                    </button>
                    <button id="save_button" type="submit" class="btn btn-outline-primary ml-2" disabled>
                        <i class="fas fa-save"></i>
                        Insert
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
