<div class="modal fade col-12" id="modal-div" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width: 60% !important;">
        <div class="modal-content">
            <form id="userPermissionForm">
                <div class="modal-header">
                    <h5 class="modal-title">User
                        <strong>{{ username }}</strong>
                        permissions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="user-perm" class="table table-sm table-hover" style="white-space: nowrap;">
                        <thead class="table-borderless">
                        <tr>
                            <th rowspan="2"></th>
                            <th rowspan="2">#</th>
                            <th rowspan="2">Name</th>
                            <th colspan="2" class="text-center">Recordings</th>
                            <th colspan="2" class="text-center">Tags</th>
                        </tr>
                        <tr>
                            <th class="text-center">Access <i class="fa fa-info-circle" title="access recordings for navigation, tagging, and analysis" data-toggle="tooltip"></i></th>
                            <th class="text-center">Manage <i class="fa fa-info-circle" title="upload and delete recordings, edit their metadata in dashboard" data-toggle="tooltip"></i></th>
                            <th class="text-center">View <i class="fa fa-info-circle" title="access tags of other users in player" data-toggle="tooltip"></i></th>
                            <th class="text-center">Review <i class="fa fa-info-circle" title="review tags of other users" data-toggle="tooltip"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{% if project.collections|length > 0 %}<a href="#"><i class="fa fa-plus btn-fa" data-project="{{ project.id }}"></i></a>{% endif %}</td>
                                <td>{{ project.id }}</td>
                                <td>{{ project.name }}</td>
                                <td class="text-center">
                                    <input class="access-checkbox project-checkbox" value="{{ accessId }}" type="checkbox" name="access" data-project="{{ project.id }}" disabled>
                                </td>
                                <td class="text-center">
                                    <input class="manage-checkbox project-checkbox" value="{{ manageId }}" type="checkbox" name="manage" data-project="{{ project.id }}" disabled>
                                </td>
                                <td class="text-center">
                                    <input class="view-checkbox project-checkbox" value="{{ viewId }}" type="checkbox" name="view" data-project="{{ project.id }}" disabled>
                                </td>
                                <td class="text-center">
                                    <input class="review-checkbox project-checkbox" value="{{ reviewId }}" type="checkbox" name="review" data-project="{{ project.id }}" disabled>
                                </td>
                            </tr>
                            {% for collection in project.collections %}
                                <tr class="data_collection data{{ project.id }}" style="font-size: .875rem;background-color: #f1f1f1">
                                    <td></td>
                                    <td>
                                        {{ collection.id }}
                                        <input id="user_id" type="hidden" value="{{ userId }}">
                                        <input class="js-data-input" type='hidden' data-collection-id="{{ collection.id }}" data-project="{{ project.id }}" data-permission-id="{{ collection.permission }}">
                                    </td>
                                    <td>
                                        {{ collection.name }}
                                    </td>
                                    <td class="text-center">
                                        {% if collection.public_access %}
                                            <input class="js-access-checkbox" data-project="{{ project.id }}" name="access" type="checkbox" title="This collection is public" disabled checked>
                                        {% else %}
                                            <input class="js-access-checkbox" value="{{ accessId }}" type="checkbox" name="access" data-project="{{ project.id }}" data-collection-id="{{ collection.id }}"
                                                   disabled {{ collection.permission == manageId ? "checked" }} {{ collection.permission == reviewId ? "checked" }} {{ collection.permission == viewId ? "checked" }} {{ collection.permission == accessId ? "checked" }}>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <input class="js-manage-checkbox" value="{{ manageId }}" type="checkbox" name="manage" data-project="{{ project.id }}" data-collection-id="{{ collection.id }}"
                                               disabled {{ collection.permission == manageId ? "checked" }}>
                                    </td>
                                    <td class="text-center">
                                        {% if collection.public_tags %}
                                            <input class="js-view-checkbox" data-project="{{ project.id }}" name="view" type="checkbox" title="These collections' tags are public" disabled checked>
                                        {% else %}
                                            <input class="js-view-checkbox" value="{{ viewId }}" type="checkbox" name="view" data-project="{{ project.id }}" data-collection-id="{{ collection.id }}"
                                                   disabled {{ collection.permission == manageId ? "checked" }} {{ collection.permission == reviewId ? "checked " }} {{ collection.permission == viewId ? "checked" }}>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <input class="js-review-checkbox" value="{{ reviewId }}" type="checkbox" name="review" data-project="{{ project.id }}" data-collection-id="{{ collection.id }}"
                                               disabled {{ collection.permission == manageId ? "checked" }} {{ collection.permission == reviewId ? "checked" }}>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".data_collection").hide()
        $('[data-toggle="tooltip"]').tooltip();
        $('table#user-perm tbody tr .project-checkbox').each(function (i) {
            var name = $(this).attr('name')
            if ($('.js-' + name + '-checkbox[data-project="' + $(this).data('project') + '"]').length == $('.js-' + name + '-checkbox[data-project="' + $(this).data('project') + '"]:checked').length && $('.js-' + name + '-checkbox[data-project="' + $(this).data('project') + '"]:checked').length > 0) {
                $('.' + name + '-checkbox[data-project="' + $(this).data('project') + '"]').prop({checked: true, indeterminate: false});
            } else if ($('.js-' + name + '-checkbox[data-project="' + $(this).data('project') + '"]').length != $('.js-' + name + '-checkbox[data-project="' + $(this).data('project') + '"]:checked').length && $('.js-' + name + '-checkbox[data-project="' + $(this).data('project') + '"]:checked').length > 0) {
                $('.' + name + '-checkbox[data-project="' + $(this).data('project') + '"]').prop({checked: false, indeterminate: true});
            } else {
                $('.' + name + '-checkbox[data-project="' + $(this).data('project') + '"]').prop({checked: false, indeterminate: false});
            }
        });
    });
    $(".btn-fa").click(function (e) {
        if ($(this).hasClass('fa-plus')) {
            $(".data" + $(this).data('project')).show();
            $(this).removeClass('fa-plus')
            $(this).addClass('fa-minus')
        } else {
            $(".data" + $(this).data('project')).hide();
            $(this).removeClass('fa-minus')
            $(this).addClass('fa-plus')
        }
    })
</script>