{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/userForm.html.twig' %}
    <div class="card mb-3" id="usersList">
        <div class="card-header border-light bg-white text-right">
            <div class="form-inline">
                <div class="col-12 form-inline justify-content-end">
                    <label class="mr-2">Search:</label>
                    <input class="form-control-sm" id="search">
                </div>
            </div>
            <button id="editPassword" name="table-btn" class="btn btn-outline-secondary btn-sm mt-2" type="button" data-target="#editPassword" disabled>
                <i class="fas fa-edit"></i>
                Edit password
            </button>
            <button id="privileges" name="table-btn" class="btn btn-outline-secondary btn-sm mt-2" type="button" data-target="#privileges" disabled>
                <i class="fas fa-tasks"></i>
                Privileges
            </button>
            <button id="userFormButton" class="btn btn-outline-primary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#userFormSection" aria-expanded="false" aria-controls="userFormSection">
                <i class="fas fa-plus"></i>
                Add
            </button>
            <button id="usersExport" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#usersExport" aria-expanded="false" aria-controls="usersExport">
                <i class="fa fa-file-csv"></i>
                Save all as CSV
            </button>
        </div>
        <table id="userTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
            <tr style="font-size: .875rem;">
                <th>
                    <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                </th>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th>ORCID</th>
                <th>Email</th>
                {% if is_admin %}
                    <th>Role</th>
                    <th>Active</th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-user-list"></tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function () {
            'use strict';
            $(document).ready(function () {
                $('#userTable').show()
                let table = $('#userTable').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ baseUrl }}/admin/userMgr/getListByPage',
                        "type": 'POST',
                        "error": function (xhr, error, thrown) {
                            if (xhr.status == 404 || xhr.status == 500) {
                                location.reload();
                            }
                        }
                    },
                    "dom": 'lrtip',
                    "stateSave": true,
                    "StateDuration": -1,
                    "order": [[1, 'asc']],
                    "columnDefs": [
                        {
                            "orderable": false,
                            "targets": [0],
                        },
                        {
                            "className": "dt-center",
                            "targets": [{% if is_admin %} 0, 7, 8,{% else %} 0, 6{% endif %}],
                        }],
                    "bAutoWidth": false,
                    "scrollX": true,
                });
                if (table.state.loaded()) {
                    $('#search').val(table.state.loaded().search.search);
                }
                $('#search').on('input', () => {
                    table.search($('#search').val()).draw();
                });
            });
            $(document).on('click', '#usersExport', function () {
                window.location.href = '{{ baseUrl }}/api/admin/userMgr/export';
            });

            $('.js-user-list').on('change', 'input, select, textarea', function () {
                if ($(this)[0].className == 'js-checkbox') {
                    return
                }
                saveFormList($(this), 'api/admin/userMgr/save');
            });

            $("#userFormSection").on('shown.bs.collapse', function () {
                $("#usersList").hide();
            }).on('hidden.bs.collapse', function () {
                $("#usersList").show();
            });

            $('#userForm').submit(function (e) {
                e.preventDefault();
                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/userMgr/save', new FormData($(this)[0]), false, false, function (response) {
                        if (response.isValid) {
                            $('#userValid').text(response.message)
                            return
                        }
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });

            $(document).on('click', '#saveButton', function () {
                $('#passwordForm').submit();
            });

            document.querySelectorAll('[type=password]').forEach(function (elem) {
                elem.addEventListener('keyup', function () {
                    document.getElementById('user_new_pwd2').setCustomValidity('');
                    if ($('#user_new_pwd2').val() !== $('#user_new_pwd1').val()) {
                        document.getElementById('user_new_pwd2').setCustomValidity('Passwords do not match.');
                    }
                });
            });

            $(document).on('submit', '#passwordForm', function (e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '{{ baseUrl }}/api/admin/userMgr/save',
                        data: new FormData($(this)[0]),
                        processData: false,
                        contentType: false,
                    }).done(function (response) {
                        showAlert(response.message);
                        $('#modal-div').modal('hide');
                    }).fail(function (response) {
                        if (response.responseJSON.errorCode === 1) {
                            $(this).removeClass('was-validated');
                            $('#admin_pwd').addClass('is-invalid');
                        }
                    });
                }
                this.classList.add('was-validated');
            });

            $('button[name="table-btn"][data-target="#editPassword"]').click(function (e) {
                let id = '';
                $('.js-checkbox:checked').each(function () {
                    id = $(this).data('id');
                });
                let data = {'id': id};
                requestModal("{{ baseUrl }}/admin/userMgr/editPassword", data);
                e.preventDefault();
            })

            $('button[name="table-btn"][data-target="#privileges"]').click(function (e) {
                let id = [];
                $('.js-checkbox:checked').each(function () {
                    id.push($(this).data('id'));
                });
                let data = {'id': id};
                if (id.length == 1 && id[0] =={{ user_id }}) {
                    requestModal("{{ baseUrl }}/UserPermission/view", data);
                } else {
                    requestModal("{{ baseUrl }}/UserPermission/show", data);
                }
                e.preventDefault();
            })
        });
    </script>
{% endblock %}
