<table id="recordingTable" style="display:none;">
    <thead class="table-borderless" style="display:none">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="js-recording-list">
    {% for item in list %}
        <tr style="vertical-align:top;">
            <td style="width: 25%;">
                {% if item.recording.soundData is not empty %}
                    <h5>
                        <strong>{{ item.recording.soundData.speciesName }}</strong>
                    </h5>
                    <h6>
                        Type:
                        <small>{{ item.recording.soundData.typeName }}</small>
                    </h6>
                    <h6>
                        Subtype:
                        <small>{{ item.recording.soundData.subtype }}</small>
                    </h6>
                    <h6>
                        Rating:
                        <small>{{ item.recording.soundData.rating }}</small>
                    </h6>
                    <h6>
                        Filename:
                        <small>{{ item.recording.name }}</small>
                    </h6>
                {% else %}
                    <h5>
                        <strong>{{ item.recording.name }}</strong>
                    </h5>
                {% endif %}
                <h6>
                    Date:
                    <small>{{ item.recording.fileDate|date("d/m/Y") }}</small>
                </h6>
                <h6>
                    Time:
                    <small>{{ item.recording.fileTime }}</small>
                </h6>
                <div class="form-inline">
                    <h6>
                        User:
                        <small>{{ item.recording.getUserFullName }}</small>
                    </h6>
                    {% if collection.orcid %}
                        <a href="https://orcid.org/{{ collection.orcid }}" target="_blank">
                            <i class="fa-brands fa-orcid ml-1 mb-2"></i>
                        </a>
                    {% endif %}
                </div>
                <h6>
                    DOI:
                    <small>{{ item.recording.Doi }}</small>
                </h6>
                <h6>
                    Site:
                    <small>{{ item.recording.siteName }}</small>
                </h6>
                <h6>
                    License:
                    <small>{{ item.recording.licenseName }}</small>
                    {% if item.recording.licenseName == 'CC-BY' %}
                        <a href="https://creativecommons.org/licenses/by/4.0"><img src="{{ licenseImagesUrl }}/ccby.png" alt="cc by"/></a>
                    {% elseif item.recording.licenseName == 'CC-BY-SA' %}
                        <a href="https://creativecommons.org/licenses/by-sa/4.0"><img src="{{ licenseImagesUrl }}/ccby-sa.png" alt="cc by-sa"/></a>
                    {% elseif item.recording.licenseName == 'CC-BY-NC' %}
                        <a href="https://creativecommons.org/licenses/by-nc/4.0"><img src="{{ licenseImagesUrl }}/ccby-nc.png" alt="cc by-nc"/></a>
                    {% elseif item.recording.licenseName == 'CC-BY-NC-SA' %}
                        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0"><img src="{{ licenseImagesUrl }}/ccby-nc-sa.png" alt="cc by-nc-sa"/></a>
                    {% elseif item.recording.licenseName == 'CC-BY-ND' %}
                        <a href="https://creativecommons.org/licenses/by-nd/4.0"><img src="{{ licenseImagesUrl }}/ccby-nd.png" alt="cc by-nd"/></a>
                    {% elseif item.recording.licenseName == 'CC-BY-NC-ND' %}
                        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0"><img src="{{ licenseImagesUrl }}/ccby-nc-nd.png" alt="cc by-nc-nd"/></a>
                    {% endif %}
                </h6>
                {% if item.recording.siteData is not empty %}
                    <h6>
                        Site:
                        <small>{{ item.recording.siteData.name }}</small>
                    </h6>
                {% endif %}
                {% if item.recording.note is not empty %}
                    <h6>
                        Notes:
                        <small>{{ item.recording.note }}</small>
                    </h6>
                {% endif %}
            </td>
            <td style="width: 25%;">
                {% if isUserLogged %}
                    <h6>
                        My Label:
                        <small>{{ item.recording.labelName }}</small>
                    </h6>
                {% endif %}
                {% if item.recording.type is not empty %}
                    <h6>
                        Recording Type:
                        <small>{{ item.recording.type }}</small>
                    </h6>
                {% endif %}
                {% if item.recording.medium is not empty %}
                    <h6>
                        Medium:
                        <small>{{ item.recording.medium }}</small>
                    </h6>
                {% endif %}
                {% if item.recording.realmName is not empty %}
                    <h6>
                        Realm:
                        <small>{{ item.recording.realmName }}</small>
                    </h6>
                {% endif %}
                {% if item.recording.biomeName is not empty %}
                    <h6>
                        Biome:
                        <small>{{ item.recording.biomeName }}</small>
                    </h6>
                {% endif %}
                {% if item.recording.FunctionalTypeName is not empty %}
                    <h6>
                        Functional Group:
                        <small>{{ item.recording.FunctionalTypeName }}</small>
                    </h6>
                {% endif %}
            </td>
            <td style="width: 60%;">
                {% if item.recording.data_type=='audio data' %}
                    <div id="player-cursor" class="small-player-cursor" data-cursor-id="{{ item.recording.id }}"></div>
                    <a href="{{ baseUrl }}/recording/show/{{ item.recording.id }}" title="BioSounds player">
                        <img class="small-player-image" src="{{ baseUrl }}/{{ item.playerImage }}">
                    </a>
                    <audio id="player" data-id="{{ item.recording.id }}" controls preload="none">
                        <source src="{{ baseUrl }}/{{ item.playerRecording }}"/>
                    </audio>
                {% else %}
                    <h2 style="background: #C6C6C6;height: 240px;width: 600px;" class="text-center">
                        <br><br>meta-recording (no audio)<br>sampling rate: {{ item.recording.samplingRate }}
                    </h2>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var table = $('#recordingTable').DataTable({
            "pageLength": 9,
            "lengthChange": false,
            "StateDuration": -1,
            "destroy": true,
            "info": false,
            "ordering": false,
        });
        $('#recordingTable').show()
    });
</script>
