<link rel="stylesheet" href="{{ baseUrl }}/assets/css/timeline.css">

<div id="timeline" style="height: 1000px"></div>
<script src="{{ baseUrl }}/assets/js/timeline.js"></script>
<script>
    DateArr = []
    {% for item in list %}
    DateArr.push(parseInt("{{ item.recording.startDate }}".substring(0, 4)))
    {% endfor %}
    minYear = Math.min.apply(null, DateArr)
    maxYear = Math.max.apply(null, DateArr)
    timeline = new TL.Timeline('timeline',
        {
            "events": [
                {% for item in list %}
                {
                    {% if item.recording.data_type=='audio data' %}
                    "media": {
                        "url": "{{ baseUrl }}/{{ item.playerImage }}",
                        "link": "{{ baseUrl }}/recording/show/{{ item.recording.id }}",
                    },
                    {% endif %}
                    "start_date": {
                        "year": "{{ item.recording.startDate }}".substring(0, 4),
                        "month": "{{ item.recording.startDate }}".substring(5, 7),
                        "day": "{{ item.recording.startDate }}".substring(8, 10),
                        "hour": "{{ item.recording.startDate }}".substring(11, 13),
                        "minute": "{{ item.recording.startDate }}".substring(14, 16),
                        "second": "{{ item.recording.startDate }}".substring(17, 19),
                    },
                    "end_date": {
                        "year": "{{ item.recording.endDate }}".substring(0, 4),
                        "month": "{{ item.recording.endDate }}".substring(5, 7),
                        "day": "{{ item.recording.endDate }}".substring(8, 10),
                        "hour": "{{ item.recording.endDate }}".substring(11, 13),
                        "minute": "{{ item.recording.endDate }}".substring(14, 16),
                        "second": "{{ item.recording.endDate }}".substring(17, 19),
                    },
                    "text": {
                        "headline": "{{ item.recording.name }}",
                        {% if item.recording.data_type=='meta-data' %}
                        "text": "<h2 style='background: #C6C6C6;height: 300px;width: 100%;' class='text-center ml-auto mr-auto'><br><br><br>meta-recording (no audio)<br>sampling rate: {{ item.recording.samplingRate }}</h2>"
                        {% endif %}
                    },
                    "group": "{{ item.recording.siteName?item.recording.siteName:'not geo-referenced' }}",
                    "display_date": "{{ item.recording.startDate }}"
                },
                {% endfor %}
            ],
        },
        {
            "start_at_slide": 0,
            "scale_factor": 0.3,
            "optimal_tick_width": 1000,
            "marker_padding": 0,
        }
    );

    tt = window.setInterval(function () {
        if ($("#timeline").is(':visible')) {
            $("#timeline").hide()
        } else {
            $("#timeline").show()
            $(".tl-text-headline-container").addClass('text-center')
            window.clearInterval(tt)
        }
    }, 1000)
</script>