<script src="{{ baseUrl }}/assets/js/moment.js"></script>
<script src="{{ baseUrl }}/assets/js/vis-data.min.js"></script>
<script src="{{ baseUrl }}/assets/js/vis-timeline-graph2d.min.js"></script>
<link rel="stylesheet" href="{{ baseUrl }}/assets/css/vis-timeline-graph2d.min.css">
<style>

</style>
<div id="visualization"></div>
<script>

    var tl_container = document.getElementById("visualization");
    var tl_groups = []
    var tl_arr = []
    var tl_items = new vis.DataSet([
        {% for item in list %}
        {
            id: {{ item.recording.id }},
            {% if item.recording.data_type=='meta-data' %}
            content: "meta-recording (no audio) sampling rate: {{ item.recording.samplingRate }}",
            {% else %}
            content: "<a href='{{ baseUrl }}/recording/show/{{ item.recording.id }}' target='_blank'>{{ item.recording.name }}</a>",
            {% endif %}
            start: "{{ item.recording.startDate }}",
            end: "{{ item.recording.endDate }}",
            group: {{ item.recording.site?item.recording.site:0 }},
            order: "{{ item.recording.name }}"
        },
        {% endfor %}
    ]);
    {% for item in list %}
    if ($.inArray({{ item.recording.site?item.recording.site:0 }}, tl_arr) == -1) {
        tl_arr.push({{ item.recording.site?item.recording.site:0 }})
        tl_groups.push({
            id: {{ item.recording.site?item.recording.site:0 }},
            content: "{{ item.recording.siteName?item.recording.siteName:'not geo-referenced' }}",
        })
    }
    {% endfor %}

    var tl_options = {
        stack: true,
        maxHeight: 800,
        min: "{{ min }}",
        max: "{{ max }}",
        order: function (a, b) {
            if (b.start - a.start == 0) {
                return b.order.localeCompare(a.order)
            }
            return b.start - a.start
        },
    };
    var timeline = new vis.Timeline(tl_container, tl_items, tl_groups, tl_options);
</script>




