{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-10">
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb bg-white">
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ baseUrl }}/project/show">Projects</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ baseUrl }}/collection/index/{{ project.id }}">
                                {{ project.name }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ baseUrl }}/collection/show/{{ player.recording.col_id }}/gallery">
                                {{ player.recording.collection.name }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ player.recording.name }}</li>
                    </ul>
                </nav>
            </div>
            <div class="col-2 text-right">
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        Utilities
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ player.filePath }}" download><i class='fas fa-file-audio mr-1'></i>Download Recording</a>
                        {% if isUserLogged %}
                            <a class="dropdown-item" href="{{ player.filePath|split('.')[:-1]|join('.') ~ '.wav' }}" download><i class='fas fa-file-word mr-1'></i>Download WAV</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ player.imageFilePath }}" download><i class='fas fa-file-image mr-1'></i>Download Spectrogram</a>
                        <a class="dropdown-item js-open-modal" href="{{ baseUrl }}/recording/details/{{ player.recording.recording_id }}"><i class='fas fa-info-circle mr-1'></i>File Info</a>
                        {% if isUserLogged %}
                            <form id="fftForm" class="form-inline ml-4">
                                <div><i class="fas fa-file-medical-alt mr-1"></i>FFT Size</div>
                                <input type="hidden" name="recording_id" value="{{ player.recording.recording_id }}"/>
                                <input type="hidden" name="user_id" value="{{ user_id }}"/>
                                <select id="fft" name="fft" class="form-control form-control-sm ml-2">
                                    {% for fft in ffts %}
                                        <option {{ fft == fftsize  ? 'selected' : '' }}>{{ fft }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-5">
            <div class="col-2 text-center recording-navigation">
                <ul class="nav flex-column nav-pills nav-fill">
                    {% if isUserLogged %}
                        <li class="nav-item">
                            <a class="nav-link js-new-tag" href="{{ baseUrl }}/api/tag/create" title="New tag">
                                <i class="fas fa-tag"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link js-toggle-tags" href="#" title="Toggle tags" data-show={{ player.isShowTags }}>
                            {% if player.isShowTags %}
                                <i class='fas fa-eye-slash'></i>
                            {% else %}
                                <i class="fas fa-eye"></i>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="shift-left" title="Shift left">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="shift-right" title="Shift right">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a class="nav-link" href="#" title="Reading mode" data-toggle="dropdown">
                        <i class="fas fa-compact-disc"></i>
                    </a>
                    <div class="dropdown-menu">
                        <small class="ml-2">Zoom into and play back:</small>
                        <div class="form-inline">
                            <a class="btn readingMode" id="btn-bats" href="{{ baseUrl }}/recording/show/{{ player.recording.recording_id }}" style="width: 40px"><small class="fas fa-play"></small></a>
                            <div class="inline">Bats<small>(90 px/s)</small></div>
                        </div>
                        <div class="form-inline">
                            <a class="btn readingMode" id="btn-birds" href="{{ baseUrl }}/recording/show/{{ player.recording.recording_id }}" style="width: 40px"><small class="fas fa-play"></small></a>
                            <div> Birds<small>(15 px/s)</small></div>
                        </div>
                        <div class="form-inline">
                            <a class="btn readingMode" href="{{ baseUrl }}/recording/show/{{ player.recording.recording_id }}" style="width: 40px"><small class="fas fa-play"></small></a>
                            <div>Custom</div>
                            <input class="form-control form-control-sm" id="reading_input" type="number" value="90" style="width: 50px;" required>
                            <small class="ml-2 mr-2">px/s</small>
                        </div>
                    </div>
                </div>
                <hr>
                {% if player.recording.channel_num > 1 %}
                    <label class="{{ player.channel == 1 ? 'active' : '' }}">
                        <a href="#" class="channel-left" onclick="return false;">
                            L
                        </a>
                    </label>
                    <i class='fas fa-headphones'></i>
                    <label class="{{ player.channel == 2 ? 'active' : '' }}">
                        <a href="#" class="channel-right" onclick="return false;">
                            R
                        </a>
                    </label>
                {% else %}
                    <label>Mono File</label>
                {% endif %}
                <hr>
                <a href="#" class="viewport" title="Overall view"><img style="max-width: 150px" id="thumbnail" src="{{ baseUrl }}/{{ player.viewPortFilePath }}"></a>
                <hr>
                <input id="playback-rate" class="custom-range js-playback-rate-control" type="range" min="0.05" max="1" step="0.01" value="1">
                <label for="playback-rate">Speed:<span class="playback-rate-value">1.0</span>x</label>
            </div>
            <div class="col-10">
                {% include 'recording/player/player.html.twig' %}
            </div>

        </div>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}
    <script src="{{ baseUrl }}/templates/recording/js/recording.js?v=1.0" defer></script>

    <script src="{{ baseUrl }}/assets/js/jquery.Jcrop.min.js" defer></script>
    <script src="{{ baseUrl }}/templates/recording/player/js/imageCrop.js?v=1.0" defer></script>

    <script type="module" src="{{ baseUrl }}/templates/recording/player/js/playbackRate.js?v=1.2" defer></script>
    <script src="{{ baseUrl }}/templates/recording/player/js/player.js?v=1.3" defer></script>
    <script src="{{ baseUrl }}/templates/recording/player/js/coordinateExport.js?v=1.1" defer></script>
    <script src="{{ baseUrl }}/templates/recording/player/js/tagControls.js" defer></script>
    <script src="{{ baseUrl }}/templates/tag/js/tag.js?v=1.1" defer></script>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        var currentTime = 0;
        var fileDuration = {{ player.duration }};
        var minTime = {{ player.minTime }};
        var maxTime = {{ player.maxTime }};

        var minFrequency = {{ player.minFrequency }};
        var maxFrequency = {{ player.maxFrequency }};
        var fileFreqMax = {{ player.fileFreqMax }};

        var specWidth = {{ player.spectrogramWidth }};
        var specHeight = {{ player.spectrogramHeight }};

        let recordingId = {{ player.recording.recording_id }};
        let userId = {{ player.user }};
        let username = '{{ username }}';
        var frequency = {{ player.recording.sampling_rate }};
        var channelNum = {{ player.recording.channel_num }};
        var soundFilePath = '{{ player.filePath }}';
        var playStartTime = null;

        $(function () {
            'use strict';

            if (maxFrequency >= fileFreqMax && minFrequency <= 1 && maxTime >= parseFloat(fileDuration.toFixed(1)) && minTime <= 0) {
                $('#shift-left').addClass('a-disabled')
                $('#shift-right').addClass('a-disabled')
            }

            $('#reclabel').on('change', function () {
                $('#reclabelform').submit();
            });

            $('#reclabelform').submit(function (e) {
                e.preventDefault();
                postRequest('{{ baseUrl }}/recording/update', new FormData($(this)[0]), false, false, function () {
                });
            });
            $('#fft').on('change', function (e) {
                e.preventDefault();
                postRequest('{{ baseUrl }}/recordingFft/save', new FormData($("#fftForm")[0]), false, false, function () {
                    location.reload();
                });
            });
            $(document).on('click', '#newLabelButton', function () {
                $('#newLabelForm').submit();
            });

            $(document).on('submit', '#newLabelForm', function (e) {
                e.preventDefault();
                postRequest('{{ baseUrl }}/recording/saveLabel', new FormData($(this)[0]), false, false, function () {
                    location.reload();
                });
            });

            $(document).on('click', '#maadResultButton', function () {
                $('#maadResultForm').submit();
            });

            $(document).on('submit', '#maadResultForm', function (e) {
                e.preventDefault();
                postRequest('{{ baseUrl }}/recording/saveMaadResult', new FormData($(this)[0]), false, false, function () {
                    $('#modal-div').modal('hide');
                });
            });
        });
    </script>
{% endblock %}
